
@media print  {
body {
	background:#ffffff !important;
	color:#000000 !important;
	margin:0;
	font-family:Georgia, "Times New Roman", Times, serif !important;
}
h1,h2,h3,h4,h5,h6 {
	font-family:Georgia, "Times New Roman", Times, serif !important;
	font-weight:bold !important;
}
p {
	font-family:Georgia, "Times New Roman", Times, serif !important;
	font-size:20px !important;
	line-height:26px !important;
}
a  {
	font-size:20px !important;
	line-height:26px !important;
	font-family:Georgia, "Times New Roman", Times, serif !important;
}
h1,h2,h3,h4,h5,h6 {
	color:#000000 !important;
}
.mainnav {
	display:none;
}
.topbannerad, .leadtitle, .leadpic, .barbulletlist, .sidead, .gridpic, .gridpicbig, .gridbiginfolist, .endlessscroll   {
	display:none;
}
.leadstorybox {
    border-right: none;
    float: none;
    padding: 0;
    width:auto;
	min-height:1px !important;
	padding-bottom:20px;
}
.secondarystories {
    float: none;
    padding:0;
    width:auto;
	min-height:1px !important;
	padding-bottom:20px;
}
.leadstorywrap {
	padding:0;
}
.secondstorybox {
	padding:0;
}
.header_wrapper {
	display:none !important;
}
.gridpost {
	float:none !important;
	width:auto !important;
	height:auto !important;
	padding:0;
	padding-bottom:20px !important;
	border:none !important;
}
.gridpost h3 {
	min-height:1px;
	margin-bottom:0;
}
.gridpostinfo > span {
	color:#000000;
	position:static;
}
.secondstorybox ul {
	list-style:disc !important;
}
.secondstorybox ul li {
	list-style:disc !important;
    background: none;
    padding-bottom: 5px;
    padding-left: 0;
}
.gridbox {
	padding-top:10px;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
.gridpostinfo {
	padding:0;
}
.leadstory {
    float: none;
    width: 96% !important;
}
.print_logo {
	display:block;
	text-align:center;
	padding:20px 0;
}
.toplinks, .secondnav {
	display:none;
}
.container {
	width:1100px;
}
.mainintable table th {
	width:auto !important;
}
.mainintable table tr td p {
	font-size:17px !important;
}
.mainintable table tr td a {
	font-size:17px !important;
}
.mainfeatureimage, .featurevid {
	display:none;
}
.featuretitle {
    border-bottom: 1px solid #000000;
    border-top: none;
    margin: 0 14px 20px;
    padding-bottom: 24px;
    padding-left: 42px;
    padding-top: 18px;
}
.videoleadbox {
	width:auto !important;
	border:none;
}
.leftsidebar {
	display:none;
}
.vidlead, .scorelinks {
	display:none;
}
.scoreboard_widg {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-bottom: 26px;
	margin-top:10px;
    padding: 14px 6px;
}
.featurepage .innertitle {
    padding-bottom: 20px;
    padding-top: 20px;
}

/*Added 12-03*/
.sectionbox, .gridpost, .gridpostbig  {
	height: auto !important;
	min-height:1px !important;
}
.gridpost h3 {
	min-height:1px;
}
.subnav {
	display:none;
}
a,th, td {
	font-family:Georgia, "Times New Roman", Times, serif !important;
	font-size:18px !important;
}
.gridspinfo {
    min-height: 1px;
    padding:  0;
}
.seasonselect_wrap {
    float: left;
    width: 120px;
}
.tabs li {
	display:none;
	min-width:1px !important;
}
.tabs li.active {
	display:block;
	padding:0;
}
.tabs li.active a {
	font-size:20px !important;
}
.printerfriend, .bottomadbar , .mainbiopic_wrapper, .topbannerstaff, .razornetvid  {
	display:none;
}
.biotabcontent {
    padding: 0;
}
.tabs_wrapper ul li {
	padding:0 !important;
	text-align:left;
	min-width:1px !important;
	font-size:22px !important;
}
.tabs_wrapper ul li a {
	font-size:20px !important;
	text-align:left;
}
.biousertitle {
    padding-left: 0;
}
a[href]:after {
    content: none !important;
}
.staffdirectory {
	padding:0 !important;
}
.stafftwitter {
	display:none;
}
.sortbyrazor, .netnav {
	display:none;
}
.networktitle_wrapper {
    border-bottom: 1px solid #c4c4c4;
    height: auto;
    padding-bottom: 10px;
}
.staffdirlist {
    margin: 0 auto;
    padding-top: 18px;
    text-align: left;
    width: auto;
}
.staffdirectory_wrap {
    margin-top: 20px;
}
th {
	background:#cccccc !important;
}


