/*
Theme Name: Arkansas Theme
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: the WordPress team
Author URI: http://wordpress.org/
Description: In 2014, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 * 5.0 - Navigation
 * 6.0 - Content
 *   6.1 - Post Thumbnail
 *   6.2 - Entry Header
 *   6.3 - Entry Meta
 *   6.4 - Entry Content
 *   6.5 - Galleries
 *   6.6 - Post Formats
 *   6.7 - Post/Image/Paging Navigation
 *   6.8 - Attachments
 *   6.9 - Archives
 *   6.10 - Contributor Page
 *   6.11 - 404 Page
 *   6.12 - Full-width
 *   6.13 - Singular
 *   6.14 - Comments
 * 7.0 - Sidebar
 *   7.1 - Widgets
 *   7.2 - Content Sidebar Widgets
 * 8.0 - Footer
 * 9.0 - Featured Content
 * 10.0 - Multisite
 * 11.0 - Media Queries
 * 12.0 - Print
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal
 * http://necolas.github.com/normalize.css/ and Blueprint
 * http://www.blueprintcss.org/
 *
 * -----------------------------------------------------------------------------
 */
/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	clear: both;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }




/* =Fonts
-------------------------------------------------------------- */

h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit]
{
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #E7E7E7;
	border:0;
	height: 1px;
	margin-bottom: 18px;
	clear:both;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
dl {
	margin:0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	padding: 2px;
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}




table {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
 thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
 tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
 tr.odd td {
	background: #F2F7FC;
}




.attachment img {
	max-width: 900px;
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft, 
 img.alignright, 
 img.aligncenter {
	margin-bottom: 12px;
}
 .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding: 4px;
}
 .wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	margin: 5px;
	color: #888;
	font-size: 12px;
}
.wp-smiley {
	margin:0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom:none;
	margin-bottom:0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #FF4B33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #FF4B33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	margin-bottom: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #e7e7e7;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	display:block;
	margin: 0;
}
#comments .pingback .url {
	font-style: italic;
	font-size: 13px;
}



/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	margin: 24px 0;
	border-top: 1px solid #e7e7e7;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
#respond .required {
	color:#FF4B33;
	font-weight:bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin:0 0 9px;
	width:98%;
}
#respond textarea {
	width:98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	width: auto;
	font-size: 14px;
}




/* ---------- layout ----------*/
body {
    background: #e6e6e6;
}
.wrapper									{margin:0 auto;}
.container {
	width:1280px;
	margin:0 auto;
}
.clear{clear:both; font-size:0px;line-height:0px;}

/*-------------------------------------------*/

/* --------- HEADER HERE ---------*/
.header_wrapper {
    height: 55px;
    background: #830014;
    position: relative;
}
.header										{}
.logo {
    float:left;
    padding-right: 54px;
}
/* ---------------------------------------------------------*/

@font-face {
    font-family: 'InterstateBold';
    src: url('../fonts/FontBureauInterstateBold.eot');
    src: url('../fonts/FontBureauInterstateBold.eot') format('embedded-opentype'),
        url('../fonts/FontBureauInterstateBold.woff2') format('woff2'),
        url('../fonts/FontBureauInterstateBold.woff') format('woff'),
        url('../fonts/FontBureauInterstateBold.ttf') format('truetype'),
        url('../fonts/FontBureauInterstateBold.svg#FontBureauInterstateBold') format('svg');
}
@font-face {
    font-family: 'InterstateRegularCondensed';
    src: url('../fonts/FontBureauInterstateRegularCondensed.eot');
    src: url('../fonts/FontBureauInterstateRegularCondensed.eot') format('embedded-opentype'),
        url('../fonts/FontBureauInterstateRegularCondensed.woff2') format('woff2'),
        url('../fonts/FontBureauInterstateRegularCondensed.woff') format('woff'),
        url('../fonts/FontBureauInterstateRegularCondensed.ttf') format('truetype'),
        url('../fonts/FontBureauInterstateRegularCondensed.svg#FontBureauInterstateRegularCondensed') format('svg');
}
@font-face {
    font-family: 'InterstateLight';
    src: url('../fonts/FontBureauInterstateLight.eot');
    src: url('../fonts/FontBureauInterstateLight.eot') format('embedded-opentype'),
        url('../fonts/FontBureauInterstateLight.woff2') format('woff2'),
        url('../fonts/FontBureauInterstateLight.woff') format('woff'),
        url('../fonts/FontBureauInterstateLight.ttf') format('truetype'),
        url('../fonts/FontBureauInterstateLight.svg#FontBureauInterstateLight') format('svg');
}
@font-face {
    font-family: 'InterstateBoldCondensed';
    src: url('../fonts/FontBureauInterstateBoldCondensed.eot');
    src: url('../fonts/FontBureauInterstateBoldCondensed.eot') format('embedded-opentype'),
        url('../fonts/FontBureauInterstateBoldCondensed.woff2') format('woff2'),
        url('../fonts/FontBureauInterstateBoldCondensed.woff') format('woff'),
        url('../fonts/FontBureauInterstateBoldCondensed.ttf') format('truetype'),
        url('../fonts/FontBureauInterstateBoldCondensed.svg#FontBureauInterstateBoldCondensed') format('svg');
}
@font-face {
    font-family: 'InterstateRegular';
    src: url('../fonts/FontBureauInterstateRegular.eot');
    src: url('../fonts/FontBureauInterstateRegular.eot') format('embedded-opentype'),
        url('../fonts/FontBureauInterstateRegular.woff2') format('woff2'),
        url('../fonts/FontBureauInterstateRegular.woff') format('woff'),
        url('../fonts/FontBureauInterstateRegular.ttf') format('truetype'),
        url('../fonts/FontBureauInterstateRegular.svg#FontBureauInterstateRegular') format('svg');
}
@font-face {
    font-family: 'Interstate-LightCondensed';
    src: url('../fonts/Interstate-LightCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Interstate-LightCondensed.otf')  format('opentype'),
        url('../fonts/Interstate-LightCondensed.woff') format('woff'), url('../fonts/Interstate-LightCondensed.ttf')  format('truetype'), url('../fonts/Interstate-LightCondensed.svg#Interstate-LightCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Interstate-ThinCondensed';
    src: url('../fonts/Interstate-ThinCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Interstate-ThinCondensed.otf')  format('opentype'),
        url('../fonts/Interstate-ThinCondensed.woff') format('woff'), url('../fonts/Interstate-ThinCondensed.ttf')  format('truetype'), url('../fonts/Interstate-ThinCondensed.svg#Interstate-ThinCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Interstate-RegularCompressed';
    src: url('../fonts/Interstate-RegularCompressed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Interstate-RegularCompressed.otf')  format('opentype'),
        url('../fonts/Interstate-RegularCompressed.woff') format('woff'), url('../fonts/Interstate-RegularCompressed.ttf')  format('truetype'), url('../fonts/Interstate-RegularCompressed.svg#Interstate-RegularCompressed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Interstate-LightCompressed';
    src: url('../fonts/Interstate-LightCompressed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Interstate-LightCompressed.otf')  format('opentype'),
        url('../fonts/Interstate-LightCompressed.woff') format('woff'), url('../fonts/Interstate-LightCompressed.ttf')  format('truetype'), url('../fonts/Interstate-LightCompressed.svg#Interstate-LightCompressed') format('svg');
    font-weight: normal;
    font-style: normal;
}





/* --------- NAVIGATION HERE --------*/
.nav										{}
.nav ul										{}
.nav ul li									{}
.nav ul li a								{}
.nav ul li a span							{}
.nav ul li a:hover							{}
.mainnav {
    float: left;
}
.mainnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainnav ul li {
    float: left;
}
.mainnav ul li a {
    display: inline-block;
    color:#ffffff;
    font-size: 14px;
    font-family: 'InterstateRegular';
    line-height: 55px;
    text-decoration: none;
    padding: 0 15px;
    text-decoration: none;
}
.mainnav ul li.menudown {
    background-color: #373a36;
}
.mainnav ul li a.listarrow {
    background: url('../images/downarrow.png') no-repeat 96% center;
}
.mega-menu {
    display: none;
    background-color: #373a36;
    height: auto;
    left: 0;
    position: absolute;
    text-align: center;
    top: 55px;
    width: 100%;
    z-index: 999;
    padding-top: 30px;
}
.mega-linkbox {
    float: left;
    padding: 0 16px;
    border-right: 1px solid #484747;
}
.megacontent {
    display: inline-block;
    padding-bottom: 16px;
}
.mega-linkbox h4 {
    color:#ffffff;
    font-size: 18px;
    font-family: 'InterstateRegularCondensed';
    font-weight: normal;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    background: #484747;
}
.megacontent .mega-linkbox:nth-last-child(2) {
    border-right: none;
}
.megalinks {
    min-width: 175px;
    float: left;
    margin-right: 5px;
}
.megalinks ul li {
    float: none;
    text-align: left;
    border-bottom: 1px solid #484747;
    display: block;
    color:#ffffff;
    font-size: 16px;
    font-family: 'Interstate-LightCondensed';
    font-weight: normal;
    line-height: 46px;
    transition: all 0.1s ease-in;
}
.megalinks ul li a {
    display: block;
    color:#ffffff;
    font-size: 16px;
    font-family: 'Interstate-LightCondensed';
    font-weight: normal;
    line-height: 46px;
    transition: all 0.1s ease-in;
    text-decoration: none;
}
.megalinks > ul > li > a:hover {
    background: #2f322e;
    text-decoration: none !important;
}
.megalinks ul li a:hover {
    text-decoration: underline;
}
.megalinks ul li .ticketcontainer a {
    display: inline-block;
    padding: 0;
    margin: 0 3px;
}
.ticketcontainer {
    display: inline-block;
    float: right;
    margin-right: 18px;
}
.mega-linkbox .megalinks:nth-last-child(2) {
    margin-right: 0;
}
.megalinks ul li span {
    display: inline-block;
    width: 26px;
    height: 26px;
    position: relative;
    top: 10px;
    margin-right:10px; 
}
.noflt {
    float: none !important;
}
.nodirectlinks .megalinks {
    float: left;
    margin-right: 5px;
    min-width: 275px;
}
.baseball {
    background: url("../images/sports_icons.png") no-repeat scroll -27px -30px;
}
.basketball {
    background: url("../images/sports_icons.png") no-repeat scroll -74px -76px;
}
.crosscountry {
    background: url("../images/sports_icons.png") no-repeat scroll -118px -31px;
}
.football {
    background: url("../images/sports_icons.png") no-repeat scroll -162px -32px;
}
.golf {
    background: url("../images/sports_icons.png") no-repeat scroll -28px -75px;
}
.tennis {
    background: url("../images/sports_icons.png") no-repeat scroll -119px -76px;
}
.track {
    background: url("../images/sports_icons.png") no-repeat scroll -73px -29px;
}
.gymn {
    background: url("../images/sports_icons.png") no-repeat scroll -165px -120px;
}
.soc {
    background: url("../images/sports_icons.png") no-repeat scroll -211px -252px;
}
.softball {
    background: url("../images/sports_icons.png") no-repeat scroll -211px -252px;
}
.swimming {
    background: url("../images/sports_icons.png") no-repeat scroll -211px -252px;
}
.volley {
    background: url("../images/sports_icons.png") no-repeat scroll -211px -166px;
}

/* ---------------------------------------------------------*/

/* ------- MAIN CONTENT HERE --------*/
.maincontent {
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
	margin-bottom:16px;
}
.topbannerad {
    padding-top: 8px;
    padding-bottom: 12px;
}
.topbannerad img {
    display: block;
    width: 100%;
}
.leadstorybox {
    width: 72%;
    float: left;
    padding: 6px;
    border-right: 2px solid #e5e5e5;
    padding-bottom: 16px;
}
.secondarystories {
    width: 28%;
    float: right;
    padding-left: 20px;
    padding-right: 12px;
    padding-top: 26px;
}
.leadpic {
    position: relative;
    margin-bottom: 10px;
}
.leadpic img {
    display: block;
    width: 100%;
	height:auto;
}
.leadstorywrap {
    padding: 0 20px;
}
.leadstorybox h1 {
    color: #292a2e;
    font-size: 34.75px;
    font-family: 'InterstateBold';
    font-weight: normal;
    line-height: normal;
    padding-bottom: 12px;
}
.leadstorybox h1 a {
    color: #292a2e;
    text-decoration: none;
}
.leadtitle {
    background: #830014;
    width: 100%;
}
.leadtitle h4 {
    color: #ffffff;
    font-size: 14px;
    font-family: 'InterstateRegularCondensed';
    font-weight: normal;
    line-height: 28px;
    padding: 0 15px;
}
.leadstory {
    width: 65%;
    float: left;
}
.barbulletlist {
    width: 32%;
    float: right;
}
.leadstory p {
    color: #000000;
    font-size: 14px;
    font-family: 'InterstateLight';
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
}
.barbulletlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.barbulletlist ul li {
    padding-left: 42px;
    background: url('../images/minisprite.png') no-repeat -3px 2px;
    padding-bottom: 6px;
}
.barbulletlist ul li a {
    color: #292a2e;
    font-size: 13px;
    font-family: 'InterstateBoldCondensed';
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
}
.barbulletlist ul li a:hover {
    text-decoration:none;
	color:#9d2235;
}
.secondstorybox {
    padding-bottom: 68px;
}
.secondstorybox h4 {
    color: #000000;
    font-size: 13px;
    font-family: 'InterstateBold';
    font-weight:normal;
    line-height: normal;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.secondstorybox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.secondstorybox ul li {
    padding-left: 12px;
    background: url('../images/minisprite.png') no-repeat -6px -48px;
    padding-bottom: 5px;
}
.secondstorybox ul li a {
    color: #2b2727;
    font-size: 14px;
    font-family: 'InterstateLight';
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
	transition: all 0.1s ease-in;
}
.secondstorybox ul li a:hover {
    text-decoration: none;
	color:#9d2235;
}
.sidead {
    padding-left: 0;
    padding-right: 8px;
	margin-bottom:10px;
}
.sidead img {
    display: block;
    width: 100%;
}
.gridbox .gridpost {
	padding:5px;
	position:relative;
	border: 1px solid #e5e5e5;
	min-height:393px;
}
#container {
	/*margin-left:-18px;
	margin-right:-18px;*/
}
#infscr-loading {
	padding:10px 0;
	color:#262626;
	font-size:18px;
	font-family: 'InterstateRegularCondensed';
	line-height:normal;
}
.gridpic img {
	display:block;
	width:100%;
}
.gridpost h6 {
	color:#9d2235;
	font-size:11px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	padding-bottom:12px;
	text-transform:uppercase;
}
.gridpost h3 {
	color:#282a2f;
	font-size:22px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:27px;
	min-height:110px;
	margin-bottom:26px;
}
.gridpost h3 a {
	color:#282a2f;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.gridpost h3 a:hover {
	text-decoration: none;
	color:#9d2235;
}
.gridpostinfo > span {
	color:#969aa6;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:normal;
	position:absolute;
	right:16px;
	bottom:20px;
}
.gridbox {
	
}
.gridpostinfo {
	padding:16px;
}
.topstorywrapper {
    border-bottom: 1px solid #e5e5e5;
}
.gridpicbig {
	width:66.58%;
	float:left;
}
.gridpicbig img {
	display:block;
	width:100%;
	height:auto;
}
.gridbiginfolist {
	width:30.64%;
	float:right;
	padding-top:8px;
	position:relative;
}
.gridbiginfolist h4 {
	color:#282a2f;
	font-size:22px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	padding-bottom:48px;
}
.gridbiginfolist h4 a {
    color: #282a2f;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.gridbiginfolist h4 a:hover {
	color:#9d2235;
}
.gridbiginfolist ul {
	list-style:none;
	margin:0;
	padding:0;
}
.gridbiginfolist ul li {
	border-top:2px solid #efefef;
	padding:8px 0;	
	padding-left:28px;
	background:url(../images/minisprite.png) no-repeat -3px 12px;
}
.gridbiginfolist ul li a {
	display:block;
	color:#282a2f;
	font-size:13px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	padding:5px 0;
	transition: all 0.1s ease-in;
}
.gridbiginfolist ul li a:hover {
	text-decoration: none;
	color:#9d2235;
}
.gridbiginfolist > span {
	color:#969aa6;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:normal;
	position:absolute;
	right:16px;
	bottom:14px;
}
.endlessscroll {
	text-align:center;
	padding-bottom:12px;
}
.endlessscroll h5 {
	color:#ceb2b5;
	font-size:27px;
	font-family: 'Interstate-RegularCompressed';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
}

/*Standard styling */
h1 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 34.75px;
    font-weight: normal;
    line-height: normal;
}
h2 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
}
h3 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 26px;
    font-weight: normal;
    line-height: normal;
}
h4 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
}
h5 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
}
h6 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
}
p {
	color: #000000;
    font-family: "InterstateLight";
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.print_logo {
	display:none;
}
.mobilemenu_btn {
	display:none;
}
.mobile_logo {
	display:none;
}


/*Added css*/
.sidelogo {
	float:left;
	padding-top:6px;
	padding-right:30px;
}
.sidelogo img {
	width:96px;
}
.header_wrapper {
    background: #9d2235;
}

/*Inner table page*/
.innertitle {
	padding-top:30px;
	padding-bottom:46px;
}
.innertitle h1 {
	color:#9d2235;
	font-size:30px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	min-width:232px;
	float:left;
	padding-left:9px;
}
.secondnav {
	float:left;
}
.innertablebox {
	background:#ffffff;
	padding:0 8px;
	padding-top:36px;
	padding-bottom:80px;
}
.toplinks {
	float:right;
	padding-bottom:16px;
}
.toplinks ul {
	list-style:none;
	margin:0;
	padding:0;
}
.toplinks ul li {
	float:left;
	margin-left:33px;
}
.toplinks ul li a {
	display:inline-block;
	color:#292a2e;
	font-size:18px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	border-bottom:1px solid #d7d7d8;
}
.toplinks ul li a:hover {
	border-bottom:none;
	text-decoration:none;
}
.tabletitle {
	padding-bottom:8px;
}
.tabletitle h2 {
	color:#9d2235;
	font-size:30px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
	float:left;
	padding-left:5px;
}
.topscoretb {
	width:798px;
	float:right;
}
.topscoretb table {
	background:#fbfbfb;
	margin:0;
}
.topscoretb table tr td {
	padding:0;
	padding-left:18px;
	padding-right:5px;
	padding-bottom:3px;
	padding-top:2px;
}
.topscoretb table tr td h6 {
	color:#292a2e;
	font-size:18px;
	font-family: 'Interstate-RegularCompressed';
	font-weight:normal;
	line-height:18px;
	text-transform:uppercase;
}
.topscoretb table tr td p {
	color:#292a2e;
	font-size:18px;
	font-family: 'Interstate-RegularCompressed';
	font-weight:normal;
	line-height:18px;
	margin-bottom:0;
}
.topscoretb table tr td {
	border-right:1px solid #e6e6e6;
}
.topscoretb table tr td:last-child {
	border-right:none;
}
.mainintable {
	border:1px solid #e7e7e7;
}
.mainintable table {
	border:none;
	margin:0;
}

.mainintable table th {
	background:#9d2235;
	color:#ffffff;
	font-size:22px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:41px;
	text-transform:uppercase;
	padding:0 10px 0 15px;
}
.mainintable table th.maindate {
	width:168px;
}
.mainintable table th.mainopp {
	width:170px;
}
.mainintable table th.mainloc {
	width:202px;
}
.mainintable table th.maintime {
	width:155px;
}
.mainintable table th.mainresult {
	width:144px;
}
.mainintable table th.mainmedia {
	width:228px;
}
.mainintable table th.mainmorelinks {
	width:auto;
}

.mainintable table tr td {
	padding:12px 10px 12px 15px;
	min-height:65px;
	vertical-align:middle;
	position:relative;
}
.mainintable table tr.stripe {
	background:#fbfbfb;
}
.homeawaybox {
	position:relative;
	top:-6px;
}
.mainintable table tr td h6 {
	color:#9d2235;
	font-size:16px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:16px;
	text-transform:uppercase;
}
.mainintable table tr td p {
	color:#292a2e;
	font-size:21px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:22px;
	margin-bottom:0;
}
.mainintable table tr td.result p {
	display:inline-block;
	border-bottom:1px solid #aaaaab;	
}
/*
.mainintable table tr td {
	background:#ffffff !important;
}
.mainintable table tr.odd td {
	border-top:1px solid #e7e7e7 !important;
}
.mainintable table tr td {
	border-top:1px solid #e7e7e7 !important;
}
*/
.mainintable table tr.stripe td {
	/*background:#fbfbfb !important;
	border-bottom:1px solid #e7e7e7 !important;*/
}
.medialinks a {
	display:inline-block;
	color:#292a2e;
	font-size:21px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:16px;
	text-decoration:none;
	padding:0 3px;
	border-right:1px solid #292a2e;
	transition: all 0.1s ease-in;
	outline:none;
}
.medialinks a:hover {
	color:#9d2235;
	text-decoration:none;
}
.medialinks a:first-child {
	padding-left:0;
}
.medialinks a:last-child {
	padding-right:0;
	border-right:none;
}
.tmorelinks a {
	display:inline-block;
	color:#292a2e;
	font-size:21px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:16px;
	text-decoration:none;
	padding:0 8px;
	border-right:1px solid #292a2e;
	transition: all 0.1s ease-in;
	outline:none;
}
.tmorelinks a:hover {
	color:#9d2235;
	text-decoration:none;
}
.tmorelinks a:first-child {
	padding-left:0;
}
.tmorelinks a:nth-last-child(2){
	padding-right:0;
	border-right:none;
}
.downtablemore {
	display:inline-block;
	width:30px;
	height:30px;
	background:url(../images/tabledownarrow.png) no-repeat left top;
	position:absolute;
	right:0;
	bottom:0;
	cursor:pointer;
}
.relvidbox {
	width:40%;
	float:left;
	padding-top:54px;
}
.rellinksbox {
	width:60%;
	float:left;
	padding-top:56px;
}
.relvidbox h5 {
	color:#000000;
	font-size:14px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
	padding-bottom:12px;
}
.relvidlist ul {
	list-style:none;
	margin:0;
	padding:0;
}
.relvidlist ul li {
	width:46%;
	float:left;
	margin-right:0.8%;
}
.relvidlist ul li img {
	display:block;
	width:100%;
	height:auto;
}
.rellinksbox h5 {
	color:#000000;
	font-size:14px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
	padding-left:46px;
	padding-bottom:14px;
}
.rellinksbox ul {
	list-style:none;
	margin:0;
	padding:0;
}
.rellinksbox ul li {
	padding-left:46px;
	background:url(../images/barbullet.png) no-repeat left 4px;
	padding-bottom:7px;
}
.rellinksbox ul li a {
	display:inline-block;
	color:#292a2e;
	font-size:14px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	text-decoration:none;
	transition:all 0.1s ease-in;
}
.rellinksbox ul li a:hover {
	text-decoration:none;
	color:#9d2235;
}
.rellink1 {
	width:40%;
	float:left;
}
.rellink2 {
	width:30%;
	float:left;
}
.rellink3 {
	width:30%;
	float:left;
}

/*Added inner css*/
.mainintable table th {
	background:#9d2235;
	color:#ffffff;
	font-size:22px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:41px !important;
	text-transform:uppercase;
	padding:0 10px 0 15px !important;
}
.secondnav {
	display:none;
}
.innerfeaturepage {
	background:#ffffff;
	padding:6px 5px;
	padding-bottom:32px;
}
.mainfeatureimage {
	margin-bottom:38px;
}
.mainfeatureimage img {
	display:block;
	width:100%;
	height:auto;
}
.featurepage .innertitle {
    padding-bottom: 34px;
    padding-top: 34px;
}
.featurepage .innertitle h2 {
    color: #9d2235;
    float: left;
    font-family: "InterstateBoldCondensed";
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
    min-width: 232px;
    padding-left: 38px;
}
.featuretitle {
	margin: 0 14px;
	border-top:2px solid #f6f6f6;
	border-bottom:2px solid #f6f6f6;
	padding-top:18px;
	padding-left:42px;
	padding-bottom:24px;
	margin-bottom:30px;
}
.featuretitle h1 {
    color: #222222;
    font-family: "InterstateBold";
    font-size: 44px;
    font-weight: normal;
    line-height: normal;
    padding-bottom: 7px;
}
.featuretitle h6 {
	color:#9d2235;
	font-size:18px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
}
.featurestorybox {
	padding:0 60px;
}
.featurestorybox p {
    color: #222222;
    font-family: "InterstateLight";
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 22px;
}
.featurestorybox p strong {
	font-family: 'InterstateRegular';
	font-weight:normal;
}
.featurestorybox p + .featurevid {
	margin-top:-12px;
}
.featurevid {
	margin-bottom:36px;
}
.featurevid img {
	display:block;
	width:100%;
}
.videoleadpage {
	background:#ffffff;
	position:relative;
}
.leftsidebar {
	padding:0;
	position:relative;
}
.more_stories ul {
	list-style:none;
	margin:0;
	padding:0;
}
.more_stories ul li {
	border-bottom:2px solid #e6e6e6;
	position:relative;
	margin-right:-2px;
}
.more_stories ul li > a {
	display:block;
	padding:13px;
}
.storypic {
	width:87px;
	float:left;
	margin-right:12px;
}
.storypic img {
	display:block;
	width:100%;
}
.storyinfo {
	width:194px;
	float:left;
}
.storyinfo h5 {
	color:#222222;
	font-size:16px;
	font-family: 'InterstateRegular';
	font-weight:normal;
	line-height:22px;
	margin-top:-4px;
	padding-bottom:8px;
}
.storyinfo h5 a {
	color:#222222;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.storyinfo h5 a:hover {
	color: #9d2235;
	text-decoration:none;
}
.storyinfo h6 {
	color:#9d2235;
	font-size:12px;
	font-family: 'InterstateRegular';
	font-weight:normal;
	line-height:normal;
}
.videoleadbox {
	border-left:2px solid #e6e6e6;
	padding:32px;
	padding-top:52px;
}
.videoleadbox h1 {
	color:#222222;
	font-size:44px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:44px;
	padding-bottom:26px;
	padding-left:20px;
}
.videoleadbox h6 {
	color:#9d2235;
	font-size:12px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
	padding-left:20px;
}
.videoleadbox h6 span {
	color:#222222;
	font-family: 'InterstateRegular';
	font-weight:normal;
}
.vidlead {
	margin-top:30px;
	margin-bottom:50px;
}
.vidlead img {
	display:block;
	width:100%;
}
.scoreboard_widg {
	border-top:2px solid #f6f6f6;
	border-bottom:2px solid #f6f6f6;
	padding:25px 6px;
	margin-bottom:26px;
}
.score {
	width:304px;
	float:left;
	background:#f6f6f6;
	padding: 10px 0 16px 0;
	margin-right:35px;
}
.score table {
	border:none;
	margin:0;
}
.score tr, .score td {
	border:none;
}
.score td {
	color:#222222;
	font-size:16px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:normal;
	width:50%;
	padding:0;
	padding:8px 24px;
}
.score td.scoreTeam1,  .score td.scoreTeam2 {
	text-align:right;
	padding-right:50px;
}
.score td span {
	display:inline-block;
	padding-right:14px;
	color:#222222;
	font-size:18px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
}
.scorelinks {
	width:310px;
	float:left;
	padding-top:10px;
}
.scorelinks ul {
	list-style:none;
	margin:0;
	padding:0;
}
.scorelinks ul li {
	float:left;
	width:134px;
	padding-left:10px;
	background:url(../images/rightwin1.png) no-repeat left 6px;
	background-size:6px 9px;
	margin-right:18px;
	margin-bottom:10px;
}
.scorelinks ul li a {
	display:block;
	color:#9d2235;
	font-size:16px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	border-bottom:1px solid #f6f6f6;
	outline:none;
}
.scorelinks ul li a:hover {
	color:#8b1124;
	text-decoration:none;
}
.videoleadbox > p {
	color:#222222;
	font-size:18px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:30px;
	margin-bottom:0;
	padding-bottom:22px;
}
.videoleadbox > p strong {
	color:#222222;
	font-family: 'InterstateRegular';
	font-weight:normal;
}
.score td span.winner {
	background:url(../images/leftwin1.png) no-repeat right center;
	background-size:6px 10px;
}
.stbrd {
	display:block;
	background:#9d2235;
	z-index:40;
	display:none;
}
.topbrd {
	position:absolute;
	left:0;
	top:-2px;
	width:100%;
	height:2px;
}
.rightbrd {
	position:absolute;
	right:0;
	top:0;
	width:2px;
	height:100%;
}
.bottombrd {
	position:absolute;
	left:0;
	bottom:-2px;
	width:100%;
	height:2px;
}
.leftbrd {
	position:absolute;
	left:0;
	top:0;
	width:2px;
	height:100%;
}
.logo_wrapper {
	float:left;
}
.more_stories ul li img {
	max-width:100%;
}
.mobview {
	display:none;
}
#sidebar {
	width:320px;
	float:none;
	position:absolute; /*initial value will override by jquery based on event*/
	top:0;
}
.sidebarfixed {
    position: fixed!important;/*sometime browser overrides the class. so we put important */
    top: 0;
}
	
	
	
/* ---------------------------------------------------------*/


/* -------- FOOTER HERE ----------*/
.footer									{}

/* ---------------------------------------------------------*/



body {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a[href^=tel] {
	color: #E7E6DD;
	text-decoration:none;
}
	
	
	
/* ---------------------------------------------------------*/




.gridpic img {
	display:block;
	width:100%;
	height:auto;
}
.gridpost h6 a{ color:#9d2235;}
.post-thumbnail {text-align:center;   margin: 10px 0;}
.post-thumbnail img{max-width:100%; display:inline-block;}
#defaultContent {height:500px;}
.search-form  label {width: 80%;}
.search-field {
    height: 40px;
    width: 80%;
}
.search-submit {
    background: #830014;
    height: 35px;
    width: 11%;
	color:#ffffff !important;
	font-family: "InterstateRegular";
    font-size: 12.8px;
}
.page-header h1{
     margin: 0 10px;
}

.mainnav ul li a {text-transform:uppercase; }
.megalinks .slinks .mobileview {
	display:none;
}

.newbullets {
    list-style: none;
    margin: 0;
    padding: 0;
}
.newbullets li {
    padding-left: 15px;
    position: relative;
    background: url('images/blt.png') no-repeat left 7px;
    color: #222222;
    font-size: 16px;
    font-family: 'InterstateLight';
    line-height: normal;
    padding-bottom: 4px;
}


body {
	width: 100% !important;
	max-width: 100% !important;
	-height: 2880px !important;
	-max-height: 2880px !important;
	-overflow: hidden !important;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 194, 118)), to(rgb(48, 134, 241))) !important;
}

@font-face {
	font-family: lato-custom;
	src: url(sansation_light.woff);
}
#topmenu {
  list-style: none;
  overflow: hidden;
  width: auto;
  margin: 0;
  margin-top: 10px;
}
#topmenu li {
	float: right;
	margin-right: 30px;
	color: white;
	font-size: 20px;
    color: #ffffff;
    font: 300 23px / 33px Lato;
}
#topmenu li a:hover, #topmenu li a:link, #topmenu li a:focus {
  text-decoration: none;
}
#topmenu li a {
  color: #ffffff;
    font: 300 23px / 33px Lato;
}
#delivery-options input {
	width: 647px;
	margin-bottom: 12px;
	float: left;
	background: transparent;
	border: 0;
	color: white;
	font-weight: bold;
	font-family: lato;
	text-align: right;
	padding: 9px;
	margin-left: 2px;
}

#delivery-options input:hover {
	background: #803033;
}

#delivery-options {
	padding-top: 44px;
	height: 290px;
}

#address-options input {
	width: 300px;
	margin-top: 13px;
	float: left;
	background: transparent;
	border: 0;
	color: white;
	font-weight: bold;
	font-family: lato;
	text-align: left;
	padding: 10px;
	margin-right: 50px;
	font-size: 19px;
}

#address-options {
	padding-top: 25px;
	height: 270px;
	width: 750px;
}

::-webkit-input-placeholder {
	color: white;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: white;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: white;
}

:-ms-input-placeholder {
	color: white;
}

#chosen-text {
	color: white;
	font-weight: bold;
	font-family: lato;
	margin-bottom: 65px;
	height: 90px;
}

#delivery-details {
	color: white;
	font-weight: bold;
	font-family: lato;
	margin-bottom: 65px;
}

#address-chosen {
	color: white;
	font-weight: bold;
	font-family: lato;
	margin-bottom: 25px;
}
/*style Alina*/

#up-arrow,
#down-arrow {
	background-color: #000;
	opacity: .5;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}

#up-arrow .boder-input,
#down-arrow .boder-input {
	border: 2px solid #fff;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	position: absolute;
	top: 15px;
	right: 20px;
}

#down-arrow .boder-input {
	left: 20px;
}

#up-arrow label,
#down-arrow label {
	color: #fff;
	padding: 15px 20px;
	float: left;
}

#down-arrow label {
	float: right;
}

#up-arrow label,
#up-arrow .boder-input,
#down-arrow label,
#down-arrow .boder-input {
	display: inline-block;
}

#textTransform div:focus {
	outline: none;
}

#textTransform p {
	font-family: lato, Arial;
	font-size: 12pt;
	padding: 20px 0;
	width: auto;
	color: #fff;
}

#textTransform .input-group {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#textTransform .input-group label {
	font-size: 25px;
	height: 45px;
	display: flex;
	flex-direction: row;
}

#textTransform .check {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#textTransform .or {
	font-size: 30px;
	padding: 0;
}

#textTransform .text {
	box-sizing: border-box;
	overflow: hidden;
}

#textTransform .down {
	margin: 10px auto;
	width: 100%;
	height: 200px;
}

#textTransform {
	font-family: lato, Arial;
	font-weight: 100;
	margin-top: 10px;
}

.textTransform {
	width: 980px;
	height: 95px;
	margin: 20px auto;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	display: flex;
}

.textTransform label {
	height: 95px;
	border-right: 1px solid #54719b;
	padding: 10px 20px;
	text-align: left;
	color: rgba(255, 255, 255, 0.54);
	font: 400 20px / 33px Lato;
}

.textTransform label:last-child {
	border-right: 0;
}

.textTransform .btn-group .btn {
	border: 0;
	background-color: transparent;
	color: #fff;
	font-size: 20px;
	padding: 10px 20px 0 0;
	line-height: 1;
	font: 500 20px / 26px Lato;
}

.textTransform .btn-group div.btn {
	width: 150px;
	text-align: left;
	cursor: auto;
	padding-right: 0;
}

.textTransform label[for='fontSize'] .btn-group div.btn {
	width: 100px;
}

.textTransform . label[for="fontSize"] .dropdown-menu {
	min-width: 155px;
}

.textTransform .btn-group .btn.dropdown-toggle {
	padding: 0;
	padding-left: 15px;
	text-align: right;
}

.textTransform .btn {
	box-shadow: none !important;
	outline: none;
}

.textTransform .btn-group .btn-default {
	background-color: transparent;
	border: 0;
	text-align: left !important;
	opacity: .5;
}

.textTransform .dropdown-menu {
	margin-top: 30px;
	left: -20px;
	min-width: 185px;
	background-color: rgba(62, 61, 61, 0.7);
}

.textTransform .dropdown-menu a {
	color: #d9cdcd;
	font-size: 18px;
}

.textTransform .btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.textTransform .text-align .btn-default {
	color: rgba(255, 255, 255, 0.54);
	margin: 0 5px;
	opacity: .5;
}

.textTransform .text-align .btn-default .fa:before {
	color: #ffffff;
}

.textTransform .style .btn-default {
	color: #fff;
	margin: 0 5px;
}

.textTransform .style .btn-default:hover,
.textTransform .text-align .btn-default:hover,
.textTransform .text-align a.active-align {
	opacity: 1;
}

.textTransform .color a.btn {
	height: 25px;
	width: 25px;
	margin-right: 10px;
	border-radius: 5px !important;
}

.textTransform .color a.btn:hover {
	border: 3px solid #fff;
}

#category,
#choose-text {
	background-color: rgba(255, 255, 255, 0.5);
	color: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 10px;
	width: 100%;
	margin: auto;
}

#choose-text p.text {
	height: 150px;
	overflow: hidden;
}

#category {
	border-bottom: 1px solid #7a84b5;
}

#category .header-category,
#choose-text .header-choose-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	padding: 10px !important;
	color: rgba(255, 255, 255, 0.54);
	font: 400 20px / 33px Lato;
}

#category .header-category p,
#choose-text .header-choose-text p {
	position: absolute;
	top: 15px;
	right: 20px;
	line-height: 1;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, 0.54);
	font: 400 20px / 33px Lato;
}

#category .category-slider div,
#choose-text .choose-text-slider div {
	text-align: center;
}

#category .category-slider div p {
	padding: 10px;
	font-size: 25px;
}

#choose-text .choose-text-slider div p {
	padding: 0;
	color: #ffffff;
	font: 500 16pt / 26px Lato;
	text-align: left;
}

#choose-text .choose-text-slider > div,
#category .category-slider > div {
	width: 75%;
	margin: 0 30px;
	box-sizing: border-box;
	line-height: 1.5;
	margin: auto
}

.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	color: #fff;
	margin-top: -15px;
	height: 30px;
}

.slick-prev {
	left: 45px;
}

.slick-next {
	right: 45px;
}

#personal-text {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.italic {
	font-style: italic !important;
}

.bold {
	font-weight: bold !important;
}

.underline {
	text-decoration: underline;
}

.active {
	opacity: 1 !important;
	box-shadow: none !important;
	outline: 0 !important;
}

.active-align {
	opacity: 1 !important;
}

.active-color {
	border: 3px solid #fff !important;
}

.page-footer {
	margin-top: 40px;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.page-footer img:first-child {
	float: left;
	margin-left: 45px;
	margin-top: 30px;
}

.page-footer img:last-child {
	margin-left: -155px !important;
}

#step3 .page-footer {
	margin-top: 125px;
}

.wrapper {
	width: 980px !important;
}

.textarea-wrapper {
	width: 100%;
	position: relative;
	height: 135px;
}

.textarea-wrapper textarea {
	width: 980px;
	height: 135px;
	border: 0px;
	padding: 20px;
	color: white;
	font-family: lato;
	font-size: 16pt;
	resize: none;
	line-height: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -62px;
	margin-left: -490px;
}

