/*
Theme Name: Greeting Letter
Theme URI: www.greetingletter.com
Author: Greeting Letter
Author URI: http://greetingletter.com
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 * 5.0 - Navigation
 * 6.0 - Content
 *   6.1 - Post Thumbnail
 *   6.2 - Entry Header
 *   6.3 - Entry Meta
 *   6.4 - Entry Content
 *   6.5 - Galleries
 *   6.6 - Post Formats
 *   6.7 - Post/Image/Paging Navigation
 *   6.8 - Attachments
 *   6.9 - Archives
 *   6.10 - Contributor Page
 *   6.11 - 404 Page
 *   6.12 - Full-width
 *   6.13 - Singular
 *   6.14 - Comments
 * 7.0 - Sidebar
 *   7.1 - Widgets
 *   7.2 - Content Sidebar Widgets
 * 8.0 - Footer
 * 9.0 - Featured Content
 * 10.0 - Multisite
 * 11.0 - Media Queries
 * 12.0 - Print
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal
 * http://necolas.github.com/normalize.css/ and Blueprint
 * http://www.blueprintcss.org/
 *
 * -----------------------------------------------------------------------------
 */
/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	clear: both;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }




/* =Fonts
-------------------------------------------------------------- */

h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit]
{
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #E7E7E7;
	border:0;
	height: 1px;
	margin-bottom: 18px;
	clear:both;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style-type: disc;
	margin: 0 0 18px 1.5em;
	color: #222222;
    font-family: "interstatelight";
    font-size: 16px;
}



ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
dl {
	margin:0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	padding: 2px;
	
}




table {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
 thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
 tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
 tr.odd td {
	background: #F2F7FC;
}




.attachment img {
	max-width: 900px;
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft, 
 img.alignright, 
 img.aligncenter {
	margin-bottom: 12px;
}
 .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding: 4px;
}
 .wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	margin: 5px;
	color: #888;
	font-size: 12px;
}
.wp-smiley {
	margin:0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom:none;
	margin-bottom:0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #FF4B33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #FF4B33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	margin-bottom: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #e7e7e7;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	display:block;
	margin: 0;
}
#comments .pingback .url {
	font-style: italic;
	font-size: 13px;
}



/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	margin: 24px 0;
	border-top: 1px solid #e7e7e7;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
#respond .required {
	color:#FF4B33;
	font-weight:bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin:0 0 9px;
	width:98%;
}
#respond textarea {
	width:98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	width: auto;
	font-size: 14px;
}




/* ---------- layout ----------*/
body {
    background: #e6e6e6;
}
.wrapper									{margin:0 auto;}
.container {
	-width:1280px;
	width:99%;
	margin:0 auto;
}
.clear{clear:both; font-size:0px;line-height:0px;}

/*-------------------------------------------*/

/* --------- HEADER HERE ---------*/
.header_wrapper {
    -height: 55px;
    background: #231f20;
    -background: #2D78C5;
    position: relative;
}
.header										{}
.logo {
    float:left;
    padding-right: 54px;
}
/* ---------------------------------------------------------*/

@font-face {
    font-family: 'InterstateBold';
    src: url('fonts/FontBureauInterstateBold.eot');
    src: url('fonts/FontBureauInterstateBold.eot') format('embedded-opentype'),
        url('fonts/FontBureauInterstateBold.woff2') format('woff2'),
        url('fonts/FontBureauInterstateBold.woff') format('woff'),
        url('fonts/FontBureauInterstateBold.ttf') format('truetype'),
        url('fonts/FontBureauInterstateBold.svg#FontBureauInterstateBold') format('svg');
}

@font-face {
    font-family: 'lato';
    src: url('fonts/lato/Lato-Regular.ttf');
}



@font-face {
    font-family: 'InterstateRegularCondensed';
    src: url('fonts/FontBureauInterstateRegularCondensed.eot');
    src: url('fonts/FontBureauInterstateRegularCondensed.eot') format('embedded-opentype'),
        url('fonts/FontBureauInterstateRegularCondensed.woff2') format('woff2'),
        url('fonts/FontBureauInterstateRegularCondensed.woff') format('woff'),
        url('fonts/FontBureauInterstateRegularCondensed.ttf') format('truetype'),
        url('fonts/FontBureauInterstateRegularCondensed.svg#FontBureauInterstateRegularCondensed') format('svg');
}
@font-face {
    font-family: 'InterstateLight';
    src: url('fonts/FontBureauInterstateLight.eot');
    src: url('fonts/FontBureauInterstateLight.eot') format('embedded-opentype'),
        url('fonts/FontBureauInterstateLight.woff2') format('woff2'),
        url('fonts/FontBureauInterstateLight.woff') format('woff'),
        url('fonts/FontBureauInterstateLight.ttf') format('truetype'),
        url('fonts/FontBureauInterstateLight.svg#FontBureauInterstateLight') format('svg');
}
@font-face {
    font-family: 'InterstateBoldCondensed';
    src: url('fonts/FontBureauInterstateBoldCondensed.eot');
    src: url('fonts/FontBureauInterstateBoldCondensed.eot') format('embedded-opentype'),
        url('fonts/FontBureauInterstateBoldCondensed.woff2') format('woff2'),
        url('fonts/FontBureauInterstateBoldCondensed.woff') format('woff'),
        url('fonts/FontBureauInterstateBoldCondensed.ttf') format('truetype'),
        url('fonts/FontBureauInterstateBoldCondensed.svg#FontBureauInterstateBoldCondensed') format('svg');
}
@font-face {
    font-family: 'InterstateRegular';
    src: url('fonts/FontBureauInterstateRegular.eot');
    src: url('fonts/FontBureauInterstateRegular.eot') format('embedded-opentype'),
        url('fonts/FontBureauInterstateRegular.woff2') format('woff2'),
        url('fonts/FontBureauInterstateRegular.woff') format('woff'),
        url('fonts/FontBureauInterstateRegular.ttf') format('truetype'),
        url('fonts/FontBureauInterstateRegular.svg#FontBureauInterstateRegular') format('svg');
}
@font-face {
    font-family: 'Interstate-LightCondensed';
    src: url('fonts/Interstate-LightCondensed.eot?#iefix') format('embedded-opentype'),  url('fonts/Interstate-LightCondensed.otf')  format('opentype'),
        url('fonts/Interstate-LightCondensed.woff') format('woff'), url('fonts/Interstate-LightCondensed.ttf')  format('truetype'), url('fonts/Interstate-LightCondensed.svg#Interstate-LightCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Interstate-ThinCondensed';
    src: url('fonts/Interstate-ThinCondensed.eot?#iefix') format('embedded-opentype'),  url('fonts/Interstate-ThinCondensed.otf')  format('opentype'),
        url('fonts/Interstate-ThinCondensed.woff') format('woff'), url('fonts/Interstate-ThinCondensed.ttf')  format('truetype'), url('fonts/Interstate-ThinCondensed.svg#Interstate-ThinCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Interstate-RegularCompressed';
    src: url('fonts/Interstate-RegularCompressed.eot?#iefix') format('embedded-opentype'),  url('fonts/Interstate-RegularCompressed.otf')  format('opentype'),
        url('fonts/Interstate-RegularCompressed.woff') format('woff'), url('fonts/Interstate-RegularCompressed.ttf')  format('truetype'), url('fonts/Interstate-RegularCompressed.svg#Interstate-RegularCompressed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Interstate-LightCompressed';
    src: url('fonts/Interstate-LightCompressed.eot?#iefix') format('embedded-opentype'),  url('fonts/Interstate-LightCompressed.otf')  format('opentype'),
        url('fonts/Interstate-LightCompressed.woff') format('woff'), url('fonts/Interstate-LightCompressed.ttf')  format('truetype'), url('fonts/Interstate-LightCompressed.svg#Interstate-LightCompressed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Interstate-BoldCompressed';
    src: url('fonts/font-bureau-interstate-boldcompressed.eot?#iefix') format('embedded-opentype'),  url('fonts/font-bureau-interstate-boldcompressed.otf')  format('opentype'),
        url('fonts/font-bureau-interstate-boldcompressed.woff') format('woff'), url('fonts/font-bureau-interstate-boldcompressed.ttf')  format('truetype'), url('fonts/font-bureau-interstate-boldcompressed.svg#Interstate-BoldCompressed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cambria-back';
    src: url('fonts/ufontscomcambria.eot');
    src: url('fonts/ufontscomcambria.eot') format('embedded-opentype'),
        url('fonts/ufontscomcambria.woff') format('woff'),
        url('fonts/ufontscomcambria.ttf') format('truetype'),
        url('fonts/ufontscomcambria.svg#Cambria-back') format('svg');
}





/* --------- NAVIGATION HERE --------*/
.nav										{}
.nav ul										{}
.nav ul li									{}
.nav ul li a								{}
.nav ul li a span							{}
.nav ul li a:hover							{}
.mainnav {
    float: left;
}
.mainnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainnav ul li {
    float: left;
}
.mainnav ul li a {
    display: inline-block;
    color:#ffffff;
    font-size: 14px;
    font-family: 'InterstateRegular';
    line-height: 55px;
    text-decoration: none;
    padding: 0 15px;
    text-decoration: none;
}
.mainnav ul li.menudown {
    background-color: #373a36;
}
.mainnav ul li a.listarrow {
    background: url('images/downarrow.png') no-repeat 96% center;
}
.mega-menu {
    display: none;
    background-color: #373a36;
    height: auto;
    left: 0;
    position: absolute;
    text-align: center;
    top: 55px;
    width: 100%;
    z-index: 999;
    padding-top: 30px;
}
.mega-linkbox {
    float: left;
    padding: 0 16px;
    border-right: 1px solid #484747;
}
.megacontent {
    display: inline-block;
    padding-bottom: 16px;
}
.mega-linkbox h4 {
    color:#ffffff;
    font-size: 18px;
    font-family: 'InterstateRegularCondensed';
    font-weight: normal;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    background: #484747;
}
.megacontent .mega-linkbox:nth-last-child(2) {
    border-right: none;
}
.megalinks {
    min-width: 175px;
    float: left;
    margin-right: 5px;
}
.megalinks ul li {
    float: none;
    text-align: left;
    border-bottom: 1px solid #484747;
    display: block;
    color:#ffffff;
    font-size: 16px;
    font-family: 'Interstate-LightCondensed';
    font-weight: normal;
    line-height: 46px;
    transition: all 0.1s ease-in;
}
.megalinks ul li a {
    display: block;
    color:#ffffff;
    font-size: 16px;
    font-family: 'Interstate-LightCondensed';
    font-weight: normal;
    line-height: 46px;
    transition: all 0.1s ease-in;
    text-decoration: none;
}
.megalinks > ul > li > a:hover {
    background: #2f322e;
    text-decoration: none !important;
}
.megalinks ul li a:hover {
    text-decoration: underline;
}
.megalinks ul li .ticketcontainer a {
    display: inline-block;
    padding: 0;
    margin: 0 3px;
}
.ticketcontainer {
    display: inline-block;
    float: right;
    margin-right: 18px;
}
.mega-linkbox .megalinks:nth-last-child(2) {
    margin-right: 0;
}
.megalinks ul li span {
    display: inline-block;
    width: 26px;
    height: 26px;
    position: relative;
    top: 10px;
    margin-right:10px; 
}
.noflt {
    float: none !important;
}
.nodirectlinks .megalinks {
    float: left;
    margin-right: 5px;
    min-width: 275px;
}
.baseball {
    background: url("images/sports_icons.png") no-repeat scroll -27px -30px;
}
.basketball {
    background: url("images/sports_icons.png") no-repeat scroll -74px -76px;
}
.crosscountry {
    background: url("images/sports_icons.png") no-repeat scroll -118px -31px;
}
.football {
    background: url("images/sports_icons.png") no-repeat scroll -162px -32px;
}
.golf {
    background: url("images/sports_icons.png") no-repeat scroll -28px -75px;
}
.tennis {
    background: url("images/sports_icons.png") no-repeat scroll -119px -76px;
}
.track {
    background: url("images/sports_icons.png") no-repeat scroll -73px -29px;
}
.gymn {
    background: url("images/sports_icons.png") no-repeat scroll -165px -120px;
}
.soc {
    background: url("images/sports_icons.png") no-repeat scroll -211px -252px;
}
.softball {
    background: url("images/sports_icons.png") no-repeat scroll -211px -252px;
}
.swimming {
    background: url("images/sports_icons.png") no-repeat scroll -211px -252px;
}
.volley {
    background: url("images/sports_icons.png") no-repeat scroll -211px -166px;
}

/* ---------------------------------------------------------*/

/* ------- MAIN CONTENT HERE --------*/
.maincontent {
    -background: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
	margin-bottom:16px;
       margin-top: 30px;
}
.topbannerad {
    padding-top: 8px;
    padding-bottom: 12px;
}
.topbannerad img {
    display: block;
    width: 100%;
}
.leadstorybox {
    width: 72%;
    float: left;
    padding: 6px;
    border-right: 2px solid #e5e5e5;
    padding-bottom: 16px;
}
.secondarystories {
    width: 28%;
    float: right;
    padding-left: 20px;
    padding-right: 12px;
    padding-top: 26px;
}
.leadpic {
    position: relative;
    margin-bottom: 10px;
}
.leadpic img {
    display: block;
    width: 100%;
	height:auto;
}
.leadstorywrap {
    padding: 0 20px;
}
.leadstorybox h1 {
    color: #292a2e;
    font-size: 34.75px;
    font-family: 'InterstateBold';
    font-weight: normal;
    line-height: normal;
    padding-bottom: 12px;
}
.leadstorybox h1 a {
    color: #292a2e;
    text-decoration: none;
}
.leadtitle {
    background: #830014;
    width: 100%;
}
.leadtitle h4 {
    color: #ffffff;
    font-size: 14px;
    font-family: 'InterstateRegularCondensed';
    font-weight: normal;
    line-height: 28px;
    padding: 0 15px;
}
.leadstory {
    width: 65%;
    float: left;
}
.barbulletlist {
    width: 32%;
    float: right;
}
.leadstory p {
    color: #000000;
    font-size: 14px;
    font-family: 'InterstateLight';
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
}
.barbulletlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.barbulletlist ul li {
    padding-left: 42px;
    background: url('images/minisprite.png') no-repeat -3px 2px;
    padding-bottom: 6px;
}
.barbulletlist ul li a {
    color: #292a2e;
    font-size: 13px;
    font-family: 'InterstateBoldCondensed';
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
}
.barbulletlist ul li a:hover {
    text-decoration:none;
	color:#9d2235;
}
.secondstorybox {
    padding-bottom: 68px;
}
.secondstorybox h4 {
    color: #000000;
    font-size: 13px;
    font-family: 'InterstateBold';
    font-weight:normal;
    line-height: normal;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.secondstorybox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.secondstorybox ul li {
    padding-left: 12px;
    background: url('images/minisprite.png') no-repeat -6px -48px;
    padding-bottom: 5px;
}
.secondstorybox ul li a {
    color: #2b2727;
    font-size: 14px;
    font-family: 'InterstateLight';
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
	transition: all 0.1s ease-in;
}
.secondstorybox ul li a:hover {
    text-decoration: none;
	color:#9d2235;
}
.sidead {
    padding-left: 0;
    padding-right: 8px;
	margin-bottom:10px;
}
.sidead img {
    display: block;
    width: 100%;
}
.gridbox .gridpost {
	padding:5px;
	position:relative;
	border: 1px solid #e5e5e5;
	-min-height:393px;
}
#container {
	/*margin-left:-18px;
	margin-right:-18px;*/
}
#infscr-loading {
	padding:10px 0;
	color:#262626;
	font-size:18px;
	font-family: 'InterstateRegularCondensed';
	line-height:normal;
}
.gridpic img {
	display:block;
	width:100%;
}
.gridpost h6 {
	color:#9d2235;
	font-size:11px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	padding-bottom:12px;
	text-transform:uppercase;
}
.gridpost h3 {
	color:#282a2f;
	font-size:22px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:27px;
	min-height:110px;
	margin-bottom:26px;
}
.gridpost h3 a {
	color:#282a2f;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.gridpost h3 a:hover {
	text-decoration: none;
	color:#9d2235;
}
.gridpostinfo > span {
	color:#969aa6;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:normal;
	position:absolute;
	right:16px;
	bottom:20px;
}
.gridbox {
	
}
.gridpostinfo {
	padding:16px;
}
.topstorywrapper {
    border-bottom: 1px solid #e5e5e5;
}
.gridpicbig {
	width:66.58%;
	float:left;
}
.gridpicbig img {
	display:block;
	width:100%;
	height:auto;
}
.gridbiginfolist {
	width:30.64%;
	float:right;
	padding-top:8px;
	position:relative;
}
.gridbiginfolist h4 {
	color:#282a2f;
	font-size:22px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	padding-bottom:48px;
}
.gridbiginfolist h4 a {
    color: #282a2f;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.gridbiginfolist h4 a:hover {
	color:#9d2235;
}
.gridbiginfolist ul {
	list-style:none;
	margin:0;
	padding:0;
}
.gridbiginfolist ul li {
	border-top:2px solid #efefef;
	padding:8px 0;	
	padding-left:28px;
	background:url(images/minisprite.png) no-repeat -3px 12px;
}
.gridbiginfolist ul li a {
	display:block;
	color:#282a2f;
	font-size:13px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	padding:5px 0;
	transition: all 0.1s ease-in;
}
.gridbiginfolist ul li a:hover {
	text-decoration: none;
	color:#9d2235;
}
.gridbiginfolist > span {
	color:#969aa6;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:normal;
	position:absolute;
	right:16px;
	bottom:14px;
}
.endlessscroll {
	text-align:center;
	padding-bottom:12px;
}
.endlessscroll h5 {
	color:#868081;
	font-size:27px;
	font-family: 'Interstate-RegularCompressed';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
}

/*Standard styling */
h1 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 34.75px;
    font-weight: normal;
    line-height: normal;
}
h2 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
}
h3 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 26px;
    font-weight: normal;
    line-height: normal;
}
h4 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
}
h5 {
	color: #292a2e;
    font-family: "InterstateBold";
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
}
h6 {
	-color: #292a2e;
	color: #000000;
    font-family: "InterstateBold";
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
}
p {
	color: #000000;
    font-family: "InterstateLight";
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}



.print_logo {
	display:none;
}
.mobilemenu_btn {
	display:none;
}
.mobile_logo {
	display:none;
}


/*Added css*/
.sidelogo {
	float:left;
	padding-top:6px;
	padding-right:30px;
}
.sidelogo img {
	width:96px;
}
.header_wrapper {
    background: #231f20;
    -background: #2D78C5;
}

/*Inner table page*/
.innertitle {
	padding-top:30px;
	padding-bottom:46px;
}
.innertitle h1 {
	color:#9d2235;
	font-size:30px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	min-width:232px;
	float:left;
	padding-left:9px;
}
.secondnav {
	float:left;
}
.innertablebox {
	background:#ffffff;
	padding:0 8px;
	padding-top:36px;
	padding-bottom:80px;
}
.toplinks {
	float:right;
	padding-bottom:16px;
}
.toplinks ul {
	list-style:none;
	margin:0;
	padding:0;
}
.toplinks ul li {
	float:left;
	margin-left:33px;
}
.toplinks ul li a {
	display:inline-block;
	color:#292a2e;
	font-size:18px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	border-bottom:1px solid #d7d7d8;
}
.toplinks ul li a:hover {
	border-bottom:none;
	text-decoration:none;
}
.tabletitle {
	padding-bottom:8px;
}
.tabletitle h2 {
	color:#9d2235;
	font-size:30px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
	float:left;
	padding-left:5px;
}
.topscoretb {
	width:798px;
	float:right;
}
.topscoretb table {
	background:#fbfbfb;
	margin:0;
}
.topscoretb table tr td {
	padding:0;
	padding-left:18px;
	padding-right:5px;
	padding-bottom:3px;
	padding-top:2px;
}
.topscoretb table tr td h6 {
	color:#292a2e;
	font-size:18px;
	font-family: 'Interstate-RegularCompressed';
	font-weight:normal;
	line-height:18px;
	text-transform:uppercase;
}
.topscoretb table tr td p {
	color:#292a2e;
	font-size:18px;
	font-family: 'Interstate-RegularCompressed';
	font-weight:normal;
	line-height:18px;
	margin-bottom:0;
}
.topscoretb table tr td {
	border-right:1px solid #e6e6e6;
}
.topscoretb table tr td:last-child {
	border-right:none;
}
.mainintable {
	border:1px solid #e7e7e7;
}
.mainintable table {
	border:none;
	margin:0;
}

.mainintable table th {
	background:#9d2235;
	color:#ffffff;
	font-size:22px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:41px;
	text-transform:uppercase;
	padding:0 10px 0 15px;
}
.mainintable table th.maindate {
	width:168px;
}
.mainintable table th.mainopp {
	width:170px;
}
.mainintable table th.mainloc {
	width:202px;
}
.mainintable table th.maintime {
	width:155px;
}
.mainintable table th.mainresult {
	width:144px;
}
.mainintable table th.mainmedia {
	width:228px;
}
.mainintable table th.mainmorelinks {
	width:auto;
	padding-left: 22px !important;
}

.mainintable table tr td {
	padding:12px 10px 12px 15px;
	min-height:65px;
	vertical-align:middle;
	position:relative;
}
.mainintable table tr.stripe {
	background:#fbfbfb;
}
.homeawaybox {
	position:relative;
	top:-6px;
}
.mainintable table tr td h6 {
	color:#9d2235;
	font-size:16px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:16px;
	text-transform:uppercase;
}
.mainintable table tr td p {
	color:#292a2e;
	font-size:21px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:22px;
	margin-bottom:0;
}
.mainintable table tr td.result p {
	display:inline-block;
	border-bottom:1px solid #aaaaab;	
}
/*
.mainintable table tr td {
	background:#ffffff !important;
}
.mainintable table tr.odd td {
	border-top:1px solid #e7e7e7 !important;
}
.mainintable table tr td {
	border-top:1px solid #e7e7e7 !important;
}
*/
.mainintable table tr.stripe td {
	/*background:#fbfbfb !important;
	border-bottom:1px solid #e7e7e7 !important;*/
}
.medialinks a {
	display:inline-block;
	color:#292a2e;
	font-size:21px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:16px;
	text-decoration:none;
	padding:0 3px;
	border-right:1px solid #292a2e;
	transition: all 0.1s ease-in;
	outline:none;
}
.medialinks a:hover {
	color:#9d2235;
	text-decoration:none;
}
.medialinks a:first-child {
	padding-left:0;
}
.medialinks a:last-child {
	padding-right:0;
	border-right:none;
}
.tmorelinks a {
    border-right: 1px solid #292a2e;
    color: #292a2e;
    display: inline-block;
    font-family: "InterstateRegularCondensed";
    font-size: 21px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 4px;
    outline: medium none;
    padding: 0 8px;
    text-decoration: none;
    transition: all 0.1s ease-in 0s;
    width: auto;
}
.tmorelinks a:hover {
	color:#9d2235;
	text-decoration:none;
}
.tmorelinks a:first-child {
	
}
.tmorelinks a:nth-last-child(2){
	padding-right:0;
	border-right:none;
}
.downtablemore {
	display:inline-block;
	width:30px;
	height:30px;
	background:url(images/tabledownarrow.png) no-repeat left top;
	position:absolute;
	right:0;
	bottom:0;
	cursor:pointer;
}
.relvidbox {
	width:40%;
	float:left;
	padding-top:54px;
}
.rellinksbox {
	width:60%;
	float:left;
	padding-top:56px;
}
.relvidbox h5 {
	color:#000000;
	font-size:14px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
	padding-bottom:12px;
}
.relvidlist ul {
	list-style:none;
	margin:0;
	padding:0;
}
.relvidlist ul li {
	width:46%;
	float:left;
	margin-right:0.8%;
}
.relvidlist ul li img {
	display:block;
	width:100%;
	height:auto;
}
.rellinksbox h5 {
	color:#000000;
	font-size:14px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
	padding-left:46px;
	padding-bottom:14px;
}
.rellinksbox ul {
	list-style:none;
	margin:0;
	padding:0;
}
.rellinksbox ul li {
	padding-left:46px;
	background:url(images/barbullet.png) no-repeat left 4px;
	padding-bottom:7px;
}
.rellinksbox ul li a {
	display:inline-block;
	color:#292a2e;
	font-size:14px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	text-decoration:none;
	transition:all 0.1s ease-in;
}
.rellinksbox ul li a:hover {
	text-decoration:none;
	color:#9d2235;
}
.rellink1 {
	width:40%;
	float:left;
}
.rellink2 {
	width:30%;
	float:left;
}
.rellink3 {
	width:30%;
	float:left;
}

/*Added inner css*/
.mainintable table th {
	background:#9d2235;
	color:#ffffff;
	font-size:22px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:41px !important;
	text-transform:uppercase;
	padding:0 10px 0 15px !important;
}
.secondnav {
	display:none;
}
.innerfeaturepage {
	background:#ffffff;
	padding:6px 5px;
	padding-bottom:32px;
}
.mainfeatureimage {
	margin-bottom:38px;
}
.mainfeatureimage img {
	display:block;
	width:100%;
	height:auto;
}
.featurepage .innertitle {
    padding-bottom: 34px;
    padding-top: 34px;
}
.featurepage .innertitle h2 {
    color: #9d2235;
    float: left;
    font-family: "InterstateBoldCondensed";
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
    min-width: 232px;
    padding-left: 38px;
}
.featuretitle {
	margin: 0 14px;
	border-top:2px solid #f6f6f6;
	border-bottom:2px solid #f6f6f6;
	padding-top:18px;
	padding-left:42px;
	padding-bottom:24px;
	margin-bottom:30px;
}
.featuretitle h1 {
    color: #222222;
    font-family: "InterstateBold";
    font-size: 44px;
    font-weight: normal;
    line-height: normal;
    padding-bottom: 7px;
}
.featuretitle h6 {
	color:#9d2235;
	font-size:18px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
}
.featurestorybox {
	padding:0 60px;
}
.featurestorybox p {
    color: #222222;
    font-family: "InterstateLight";
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 22px;
}
.featurestorybox p strong {
	font-family: 'InterstateRegular';
	font-weight:normal;
}
.featurestorybox p + .featurevid {
	margin-top:-12px;
}
.featurevid {
	margin-bottom:36px;
}
.featurevid img {
	display:block;
	width:100%;
}
.videoleadpage {
	background:#ffffff;
	position:relative;
}
.leftsidebar {
	padding:0;
	position:relative;
}
.more_stories ul {
	list-style:none;
	margin:0;
	padding:0;
}
.more_stories ul li {
	border-bottom:2px solid #e6e6e6;
	position:relative;
	margin-right:-2px;
}
.more_stories ul li > a {
	display:block;
	padding:13px;
}
.storypic {
	width:87px;
	float:left;
	margin-right:12px;
}
.storypic img {
	display:block;
	width:100%;
	height:auto;
}
.storyinfo {
	width:194px;
	float:left;
}
.storyinfo h5 {
	color:#222222;
	font-size:16px;
	font-family: 'InterstateRegular';
	font-weight:normal;
	line-height:22px;
	margin-top:-4px;
	padding-bottom:8px;
}
.storyinfo h5 a {
	color:#222222;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.storyinfo h5 a:hover {
	color: #9d2235;
	text-decoration:none;
}
.storyinfo h6 {
	color:#9d2235;
	font-size:12px;
	font-family: 'InterstateRegular';
	font-weight:normal;
	line-height:normal;
}
.videoleadbox {
	border-left:2px solid #e6e6e6;
	padding:32px;
	padding-top:52px;
}
.videoleadbox h1 {
	color:#222222;
	font-size:44px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:44px;
	padding-bottom:26px;
	padding-left:20px;
}
.videoleadbox h6 {
	color:#9d2235;
	font-size:12px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
	padding-left:20px;
}
.videoleadbox h6 span {
	color:#222222;
	font-family: 'InterstateRegular';
	font-weight:normal;
}
.vidlead {
	margin-top:30px;
	margin-bottom:50px;
}
.vidlead img {
	display:block;
	width:100%;
	height:auto;
}
.scoreboard_widg {
	border-top:2px solid #f6f6f6;
	border-bottom:2px solid #f6f6f6;
	padding:25px 6px;
	margin-bottom:26px;
}
.score {
	width:304px;
	float:left;
	background:#f6f6f6;
	padding: 10px 0 16px 0;
	margin-right:35px;
}
.score table {
	border:none;
	margin:0;
}
.score tr, .score td {
	border:none;
}
.score td {
	color:#222222;
	font-size:16px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:normal;
	width:50%;
	padding:0;
	padding:8px 24px;
}
.score td.scoreTeam1,  .score td.scoreTeam2 {
	text-align:right;
	padding-right:50px;
}
.score td span {
	display:inline-block;
	padding-right:14px;
	color:#222222;
	font-size:18px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
}
.scorelinks {
	width:310px;
	float:left;
	padding-top:10px;
}
.scorelinks ul {
	list-style:none;
	margin:0;
	padding:0;
}
.scorelinks ul li {
	float:left;
	width:134px;
	padding-left:10px;
	background:url(images/rightwin1.png) no-repeat left 6px;
	background-size:6px 9px;
	margin-right:18px;
	margin-bottom:10px;
}
.scorelinks ul li a {
	display:block;
	color:#9d2235;
	font-size:16px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	border-bottom:1px solid #f6f6f6;
	outline:none;
}
.scorelinks ul li a:hover {
	color:#8b1124;
	text-decoration:none;
}
.videoleadbox > p {
	color:#222222;
	font-size:18px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:30px;
	margin-bottom:0;
	padding-bottom:22px;
}
.videoleadbox > p strong {
	color:#222222;
	font-family: 'InterstateRegular';
	font-weight:normal;
}
.score td span.winner {
	background:url(images/leftwin1.png) no-repeat right center;
	background-size:6px 10px;
}
.stbrd {
	display:block;
	background:#9d2235;
	z-index:40;
	display:none;
}
.topbrd {
	position:absolute;
	left:0;
	top:-2px;
	width:100%;
	height:2px;
}
.rightbrd {
	position:absolute;
	right:0;
	top:0;
	width:2px;
	height:100%;
}
.bottombrd {
	position:absolute;
	left:0;
	bottom:-2px;
	width:100%;
	height:2px;
}
.leftbrd {
	position:absolute;
	left:0;
	top:0;
	width:2px;
	height:100%;
}
.logo_wrapper {
	float:left;
}
.more_stories ul li img {
	max-width:100%;
}
.mobview {
	display:none;
}
#sidebar {
	width:320px;
	float:none;
	position:absolute; /*initial value will override by jquery based on event*/
	top:0;
}
.sidebarfixed {
    position: fixed!important;/*sometime browser overrides the class. so we put important */
    top: 0;
}
	
	
	
/* ---------------------------------------------------------*/


/* -------- FOOTER HERE ----------*/
.footer									{}

/* ---------------------------------------------------------*/



body {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a[href^=tel] {
	color: #232323;
	text-decoration:none;
}

/*Sticky header*/
#nav-holder {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
	transition: all 0.1s ease-in;
}
.sticky-nav #nav-holder {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 0; /*-60px*/
    transition: top 0.4s cubic-bezier(0, 0.02, 0, 1.02) 0s;
}
.scroll-up #nav-holder {
    top: 0;
}
body {
	padding-top:56px;
}
	
	
	
/* ---------------------------------------------------------*/




.gridpic img {
	display:block;
	width:100%;
	height:auto;
}
.gridpost h6 a{ color:#9d2235;}
.post-thumbnail {text-align:center;   margin: 10px 0;}
.post-thumbnail img{max-width:100%; display:inline-block;}
#defaultContent {height:500px;}
.search-form  label {width: 80%;}
.search-field {
    height: 40px;
    width: 80%;
}
.search-submit {
    background: #830014;
    height: 35px;
    width: 11%;
	color:#ffffff !important;
	font-family: "InterstateRegular";
    font-size: 12.8px;
}
.page-header h1{
     margin: 0 10px;
}

.mainnav ul li a {text-transform:uppercase; }

.hy_plyr_1 {
	position:relative;
}
.rgif {
	display:inline-block ;
	position:absolute !important;
	left:50% !important;
	top:50% !important;
	width:63px !important;
	height:63px !important;
	margin-left:-31px !important;
	margin-top:-31px !important;
	background:url(images/gif.png) no-repeat left top !important;
	z-index:40;
}
.gridpostbig,.secondarystories {
	overflow:hidden;
}

/*Added css 19-02*/
.subnav_wrapper {
	background:#ffffff;
	min-height:42px;
	border-bottom:1px solid #c4c4c4;
	position:relative;
}
.subnav_box {
	width:72%;
}
.subnav_box h2 {
	color:#9d2235;
	font-size:24px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:42px;
	float:left;
}
.subnav {
	float:right;
}
.subnav ul {
	list-style:none;
	margin:0;
	padding:0;
}
.subnav > ul > li {
	margin-left:16px;
	float:left;
}
.subnav > ul > li > a {
	display:inline-block;
	color:#232323;
	font-size:16px;
	font-family: 'Interstate-LightCondensed';
	line-height:42px;
	text-decoration:none;
	padding:0 5px;
	outline:none;
	transition: all 0.1s ease-in;
}
.subnav > ul > li > a:hover {
	color:#9d2235;
}
.submainhome {
	margin-top:36px;
}
.gridspinfo {
	padding:0 15px;
	padding-top:4px;
	min-height:200px;
}
.gridspinfo h3 {
	min-height:1px;
	margin-bottom:4px;
}
.gridspinfo p {
	margin-bottom:10px;
	overflow:hidden;
}
.gridpost > span {
	bottom: 20px;
    color: #969aa6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: normal;
    position: absolute;
    right: 16px;
}
.mainnav ul li a {
	position:relative;
}
.mainnav ul li a .menuarrow {
	display:none;
	width:24px;
	height:13px;
	background:url(images/menuarrow.png) no-repeat left top;
	position:absolute;
	left:50%;
	margin-left:-12px;
	bottom:-3px;
	z-index:10;
}
.mega-menu {
	background:#ffffff;
	border-bottom:1px solid #c4c4c4;
}
.mega-linkbox h4 {
	color:#232323;
	background:#eaeaea;
}
.megalinks ul li {
	color: #232323;
	border-bottom:1px solid #eaeaea;
}
.megalinks ul li a {
	color:#232323;
}
.mainnav ul li a.listarrow.aup {
	background:url("images/uparrow.png") no-repeat scroll 96% center;
}
.megalinks > ul > li > a:hover {
	background:#f0f0f0;
    background: rgba(0,0,0,0.03);
    text-decoration: none !important;
}
.ticketcontainer a:hover {
	color:#9d2235;
    text-decoration: none !important;
}
.subnav ul li.current a {
	color:#858282;
}
.mega-linkbox {
    border-right: 1px solid #c4c4c4;
    float: left;
    padding: 0 16px;
}
.mega-linkbox .megalinks ul li h6 {
	color:#9d2235;
	font-size:16px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
	float:left;
	text-transform:none;
	min-width:144px;
}
.mega-linkbox .megalinks ul li h6 a {
	color:#9d2235;
	font-family: 'InterstateRegularCondensed';
	text-decoration:none;
	text-transform:none;
	padding:0;
	line-height:20px;
	padding-bottom:1px;
	padding-top:10px;
}
.mega-linkbox .megalinks ul li h6 a:hover {
	text-decoration:underline;
}
.megalinks .slinks {
	float:right;
	line-height:normal;
}
.megalinks .slinks a {
	display:inline-block;
	color:#232323;
	font-size:16px;
	font-family: 'Interstate-LightCondensed';
	line-height:20px;
	padding:0;
	text-transform:none;
	padding-bottom:1px;
	padding-top:10px;
}
.megalinks .slinks a:hover {
	color:#9d2235;
	text-decoration:none;
}
.megalinks .slinks a.sl1 {
	min-width:78px;	
}
.megalinks .slinks a.sl2 {
	min-width:60px;	
}
.megalinks .slinks a.sl3 {
	min-width:46px;	
}
.mega-linkbox {
    border-right: 1px solid #c4c4c4;
    float: left;
    padding: 0 16px;
}
.megalinks2 {
	padding:0 58px;
}
.megalinks2.first {
	padding-left:0;
}
.megalinks2.last {
	padding-right:0;
}
.megalinks2 .megalinks ul li {
	margin-bottom:8px;
}
.subnav .mega-menu {
	top: 42px;
}
.mobileview {
	display:none;
}

/*New css 26-02*/
.mainnav ul li a {
	cursor:pointer;
}
.subnav > ul > li > a {
	cursor:pointer;
}
.gridpostbig, .secondarystories  {
	overflow:hidden;
}


/*New css 06-03*/
.morelinksbox {
	float:left;
	border-right:1px solid #c4c4c4;
	min-width:198px;
	padding-top:12px;
	padding-bottom:38px;
}
.megacontent .morelinksbox:nth-last-child(2) {
	border-right:none;
}
.morelinksbox ul {
	list-style:none;
	margin:0;
	padding:0;
}
.morelinksbox ul li {
	text-align:center;
	float:none;
	padding-bottom:18px;
}
.morelinksbox ul li:last-child {
	padding-bottom:0;
}
.morelinksbox ul li a {
	display:block;
	color:#161616;
	font-size:14px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:normal;
	text-decoration:none;
	transition: all 0.1s ease-in;
	text-transform:none;
}
.morelinksbox ul li a:hover {
	color:#9d2235;
}
.closebtn {
	display:none;
}
.searchmobile .searchmobilesubmit_btn {
	width:62px;
	height:62px;
	background:#fbfbfb url(images/redmag.png) no-repeat center center;
	border:1px solid #e1e0e0;
	border-right:none;
	border-radius:0;
	box-shadow:none;
	-webkit-appearance:none;
	float:left;
	outline:none;
}
.searchmobile .searchmobileinput {
	width:375px;
	height:62px;
	background:#fbfbfb;
	border:1px solid #e1e0e0;
	border-left:none;
	border-radius:0;
	box-shadow:none;
	-webkit-appearance:none;
	float:left;
	outline:none;
	padding:0 10px;
	color:#9d2235;
	font-size:18px;
	font-family: 'InterstateRegular';
	font-weight:normal;
	line-height:62px;
}
.searchmobile {
	display:none;
	padding:34px 50px;
}

/*New css 07-03*/
.tabs_wrapper ul {
	list-style:none;
	margin:0;
	padding:0;
}
.tabs_wrapper ul li {
	float:left;
	height:36px;
	color:#373a36;
	font-size:16px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:36px;
	padding:0 25px;
	border-radius: 6px 6px 0 0;
	outline:none;
}
.tabs_wrapper ul li.active {
	background:#f5f5f5;
}
.tabs_wrapper ul li a {
	color:#373a36;
	text-decoration:none;
}
.toptabbar {
	border-bottom:1px solid #f5f5f5;
	position:relative;
}
.baseballrosterpage {
	padding-top:50px;
	min-height:1000px;
	padding-bottom:50px;
}
.tabs_wrapper {
	float:left;
}
.season_select {
	position:absolute;
	right:0;
	bottom:0;
}
.seasonselect_wrap {
	float:left;
	width:85px;
}
.tab_content1 {
	position:relative;
}
.tab_content1 h2 {
	color:#9d2235;
	font-size:18px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
	padding-bottom:15px;
}
.tab_container {
	padding-top:20px;
}
.season_select h3 {
	float:left;
	color:#9d2235;
	font-size:16px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:37px;
	padding-right:18px;
}
.rostertable table {
	border:none;
	margin:0;
	margin-bottom:82px;
}
.tab_container .rostertable tr td {
	border:none ;
	line-height:normal ;
}
.tab_container .rostertable tr th {
	background:#9d2235;
	color:#ffffff;
	font-size:16px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:39px ;
	height:39px;
	padding:0;
	padding-right:10px;
	padding-left:0;
	border:none ;
}
.rostertable tr th:first-child {
	padding-left:12px;
}
.tab_container .rostertable tr td {
	color:#232323;
	font-size:15px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:normal;
	padding:5px 10px 5px 0;
}
.rostertable tr td:first-child {
	padding-left:12px;
}
#roster .rostertable tr td:nth-child(2) {
	color:#9d2235;
}
.rostertable tr th.rostnum {
	width:75px;
}
.rostertable tr th.rostname {
	width:190px;
}
.rostertable tr th.rost_field_1 {
	width:116px;
}
.rostertable tr th.rost_field_2 {
	width:112px;
}
.rostertable tr th.rost_field_3 {
	width:104px;
}
.rostertable tr th.rost_field_4 {
	-width:106px;
}
.rostertable tr th.rost_field_5 {
	-width:112px;
}
.rostertable tr th.rost_field_6 {
	
}
.rostertable tr.highlight td {
	background:#f5f5f5;
}
.bottomadbar {
	text-align:center;
}
.bottomadbar img {
	display:inline-block;
	max-width:100%;
}
.coachtable tr td:first-child {
	color:#9d2235;
}
.coachtable tr th.coachnum {
	width:212px;
}
.coachtable {
	max-width:600px;
}
.printerfriend {
	display:inline-block;
	color:#9d2235;
	font-size:15px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
	text-decoration:underline;
	position:absolute;
	right:6px;
	top:0;
}
.printerfriend:hover {
	color:#9d2235;
	text-decoration:none;
}

/*Bio page*/
.biopage {
	padding:3px;
	padding-bottom:100px;
}
.biopagecontent {
	margin-top:36px;
}
.mainbiopic_wrapper {
	position:relative;
}
.mainbiopic img {
	display:block;
	width:100%;
}
.biouserpic {
	width:226px;
	border:3px solid #f5f5f5;
	border-radius:2px;
	margin-right:18px;
	position:absolute;
	bottom:-50px;
	left:46px;
	z-index:40;
}
.biouserpic img {
	display:block;
	width:100%;
}
.biousertitle {
	padding-left:296px;
	padding-top:3px;
	padding-bottom:16px;
}
.biousertitle h1 {
	color:#9d2235;
	font-size:30px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
}
.biousertitle p {
	color:#373a36;
	font-size:20px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
	margin-bottom:0;
}
.biouserstags_wrapper {
	padding:0 5px;
}
.biouserstags_wrapper .tabs_wrapper ul li {
	min-width:85px;
	text-align:center;
}
.biotabcontent {
	padding:0 32px;
}
.biotabcontent h3 {
	color:#9d2235;
	font-size:23px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	padding-bottom:1px;
}
.biotabcontent p {
	color:#222222;
	font-size:20px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:34px;
	margin-bottom:0;
	padding-bottom:18px;
}
.biouserstags_wrapper .tab_container {
    padding-top: 26px;
}
.biotabcontent p + h3 {
	padding-top:16px;
}
.tab_container .rostertable tr td a {
	color:#9d2235;
	text-decoration:none;
}
.tab_container .rostertable tr td a:hover {
	color:#9d2235;
	text-decoration:underline;
}

/*Added css 12-03*/
.topbannerstaff {
	width:100%;
	max-width:1280px;
	margin:0 auto;
	margin-top:9px;
	margin-bottom:16px;
}
.topbannerstaff img {
	display:block;
	width:100%;
}
.staffdirlist {
	width:450px;
	margin:0 auto;
	text-align:center;
	padding-top:18px;
}
.staffdirlist p {
	color:#121212;
	font-size:12px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:18px;
	margin-bottom:0;
}
.staffdirectory h1 {
	color:#9d2235;
	font-size:24px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
	padding-bottom:14px;
}
.staffdirectory .printerfriend {
	top:auto;
	bottom:12px;
}
.staffdirectory_wrap {
    margin-top: -60px;
}
.rostertable tr th.staffadmin {
    width: 264px;
}
.rostertable tr th.staffpos {
    width: 486px;
}
.rostertable tr th.staffphone {
    width: 190px;
}
.rostertable tr th.staffemail {
    width: 232px;
}
.staffdirectorytable {
	padding-bottom:20px;
}
.staffdirectorytable table {
	margin-bottom:0;
}
.tab_container .rostertable tr td {
	vertical-align:middle;
}
.staffdirectory .tabs_wrapper ul li {
	padding: 0 14px;
}
	
	
.rostertable tr.odd td {
    background: none repeat scroll 0 0 #f5f5f5;
}
.rostertable tr.even td {
    background: none repeat scroll 0 0 #ffffff;
}
.razornetvid {
	padding:5px;
}
.razornetvid img {
	display:block;
	width:100%;
}
.networktitle_wrapper {
	background:#ffffff;
	height:43px;
	border-bottom:1px solid #c4c4c4;
	margin-bottom:36px;
}
.networktitle {
	padding:0;
}
.netlogo {
	float:left;
	padding-top:2px;
	padding-left:5px;
}
.netnav {
	float:left;
	padding-left:126px;
}
.netnav ul {
	list-style:none;
	margin:0;
	padding:0;
}
.netnav ul li {
	float:left;
	margin-left:16px;
}
.netnav ul li a {
	color:#232323;
	font-size:16px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:43px;
	padding:0 5px;
	transition: all 0.1s ease-in;
	text-decoration:none;
}
.netnav ul li.current a {
	color:#858282;
	text-decoration:none;
}
.netnav ul li.current a:hover {
	color:#858282;
}
.netnav ul li a:hover {
	color: #9d2235;
	text-decoration:none;
}
.rostertable tr.odd td {
    background: none repeat scroll 0 0 #f5f5f5;
}
.rostertable tr.even td {
    background: none repeat scroll 0 0 #ffffff;
}
.sortbyselect {
	width:150px;
	float:left;
	margin-right:20px;
}
.sortbyrazor {
	padding:0 20px;
	
}
.sortbyrazor h6 {
	color:#373a36;
	font-size:18px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:37px;
	float:left;
	padding-right:44px;
}
.sortbywrapper {
	border-bottom:2px solid #f5f5f5;
	padding-bottom:6px;
}
.sortbyrazor {
	padding-bottom:20px;
	padding-top:30px;
	position:relative;
}
.sortsearch {
	float:right;
}
.sortsearchsubmitbtn {
	width:30px;
	height:32px;
	background:#ffffff url(images/redmag.png) no-repeat center center;
	background-size:22px 22px;
	border:1px solid #e1e0e0;
	border-right:none;
	border-radius:0;
	box-shadow:none;
	-webkit-appearance:none;
	float:left;
	outline:none;
}
.sortsearchinput {
	width:186px;
	height:32px;
	background:#ffffff;
	border:1px solid #e1e0e0;
	border-left:none;
	border-radius:0;
	box-shadow:none;
	-webkit-appearance:none;
	outline:none;
	padding:0 10px 0 0;
	color:#181818;
	font-size:16px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:30px;
}
.megalinks .slinks .mobileview {
	display:none;
}
.mainnav li, .mainnav a, .mainnav h6 {
	-webkit-touch-callout:none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
	-webkit-user-select:none; /* prevent copy paste, to allow, change 'none' to 'text' */
	-webkit-tap-highlight-color: transparent !important;
}
.searchmobile .searchmobilesubmit_btn {
	height:44px;
}
.searchmobile .searchmobileinput {
	height: 44px;
    line-height: 44px;
}
.videoleadbox img {width:100%;}
.mega-linkbox .megalinks ul li h6.mobiletitle {
	display:none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
.sortbysport .sbOptions {
	 overflow: auto !important;
	 max-height:350px !important;
}


/*Css 27-03*/
.sportshomebanner {
	position:relative;
	
}
.sportshomebanner img {
	display:block;
	width:100%;
}
.sptitle {
	position:absolute;
	width:1200px;
	left:50%;
	margin-left:-600px;
	top:30%;
	text-align:center;
}
.sptitle h1 {
	color:#ffffff;
	font-size:100px;
	font-family: 'Interstate-BoldCompressed';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
}
body {
    padding-top: 55px;
}
.sortbybox .sbOptions li:first-child {
	height:0;
}
.sortbybox .sbOptions li:first-child a {
	height:0;
	font-size:0;
}
.sortbybox .sortbyvideotype .sbOptions li:first-child {
	height:auto;
}
.sortbybox .sortbyvideotype .sbOptions li:first-child a {
	height:auto;
	font-size:inherit;
}
.fullArticle .innertitle {padding-top:0;}
.fullArticle {width:100%; max-width:1100px;}
.mainfeatureimage{    max-height: 550px;
    overflow: hidden;
}




/*Css 02-04*/
.megacol {
	float:left;
	margin-right:120px;
}
.megacol.last {
	margin-right:0;
}
.megacol.last  h4 {
	position:relative;
	left:-20px;
}
.megacol h4 {
	color:#9f2033;
	font-size:18px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	line-height:normal;
	padding-bottom:36px;
}
.megacol ul {
	float:left;
	border-right:1px solid #c4c4c4;
	margin-right:28px;
	min-height:140px;
}
.megacol ul.last li {
	padding-right:0;
}
.megacol ul li {
	float:none;
}
.megacol ul:nth-last-child(2) {
	border-right:none;
	margin-right:0;
}
.megacol ul li {
	text-align:left;
	padding-right:20px;
}
.megacol ul li a {
	display:inline-block;
	color:#181818;
	font-size:16px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:normal;
	text-decoration:none;
	text-transform:none;
	transition: all 0.1s ease-in;
	text-align:left;
	padding:5px 0;
}
.megacol ul li a:hover {
	color: #9d2235;
}

.subnav .morelinksbox ul li { margin: 0 8px;}
.subnav .morelinksbox { max-width: 260px;}	
.subnav > ul > li.current_page_item a {  color: #9d2235;}
	
	
	
#rellinksbox {
	width:auto;
	float:left;
}	
#rellinksbox ul li {  padding-left: 35px;background: url(images/barbullet.png) no-repeat left 4px;padding-bottom: 7px;float: left;padding-right: 30px;width: 33%;}

.dataTables_wrapper .sorting:hover {
  color: #fff !important; 
   background-color: #9d2235 !important; 
}	
	
.mainintable table tr td p a{
	color:#292a2e; text-decoration:none;
}
.fancybox-skin {
		padding:0 !important;
}
.fancybox-close {
	display:none;
	transition: all 0.1s ease-in;
}
.fancybox-wrap:hover .fancybox-close {
	display:block;
}
a.fancybox-media:hover {cursor:move; cursor:-moz-zoom-in; cursor:-webkit-zoom-in; }



/*Added css 23-04*/
.newgeneric {
	padding:0 5px;
	padding-top:36px;
}
.newgeneric h1 {
	color:#222222;
	font-size:55px;
	font-family: 'InterstateBold';
	font-weight:normal;
	line-height:normal;
	padding-bottom:52px;
	padding-left:22px;
}
.genmainpic {
	margin-bottom:60px;
}
.genmainpic img {
	display:block;
	width:100%;
	height:auto;
}
.genericbanner {
    margin: 30px auto 16px;
    max-width: 1280px;
    width: 100%;
}
.genericbanner img {
	display:block;
	width:100%;
	height:auto;
}
.genriccontent {
	padding:0 58px;
	padding-bottom:100px;
}
.genriccontent p {
	color:#333733;
	font-size:18px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:30px;
	margin-bottom:0;
	padding-bottom:22px;
}

/*Added css 24-04*/
.dsearch {
	float:right;
	height:100%;
	width:108px;
	position:relative;
	border-right:1px solid #0D62BA;
	border-left:1px solid #0D62BA;
}
.dsearch .att {
	display:inline-block;
	height:55px;
	width:50%;
	border-right:1px solid #0D62BA;
	text-align:center;
	padding-top:11px;
	float:left;
	outline:none !important;
}
.dsearch .searchglass {
	display:inline-block;
	height:55px;
	width:50%;
	text-align:center;
	padding-top:14px;
	float:left;
	outline:none !important;
}
.dsearchform {
	display:none;
	position:absolute;
	right:0;
	top:6px;
	z-index:10;
}
.dsearchinput {
	width:196px;
	height:42px;
	background:#ffffff !important;
	border:none !important;
	border-radius:0;
	box-shadow:none !important;
	-webkit-appearance:none;
	outline:none !important;
	padding:0 40px 0 15px !important;
	color:#9d2235;
	font-size:14px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	font-style:italic;
	line-height:42px;
}
.closedsearch {
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
	width:40px;
	height:42px;
	background:#ffffff url(images/crossmark.png) no-repeat center center;
	outline:none;
	cursor:pointer;
}
	
/*Added css 29-04*/
.footer {
	padding:40px 10px 20px;
	text-align:center;
	background:#ffffff;
}
.footer h6 {
	color:#707372;
	font-size:13px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
}
.copyrightwrapper {
	text-align:center;
}
.copyrightbar {
	display:inline-block;
}
.copyrightbar p {
	color:#707372;
	font-size:13px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:14px;
	margin-bottom:0;
	float:left;
	padding-right:2px;
}
.copyrightbar p a {
	color:#707372;
	text-decoration:none;
}
.copyrightbar p a:hover {
	color:#9d2235;
}
.copyrightbar ul {
	display:inline-block;
	list-style:none;
	margin:0;
	padding:0;
	line-height:14px;
	float:left;
}
.copyrightbar ul li {
	float:left;
	line-height:14px;
	padding:0 4px;
	border-right:1px solid #9d2235;
}
.copyrightbar ul li:last-child {
	border-right:none;
}
.copyrightbar ul li a {
	display:inline-block;
	color:#9d2235;
	font-size:13px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:14px;
}
.footercomlogo {
	padding-bottom:4px;
}
	
.footercomlogo img {
	max-width:100%;
	width:auto;
}	
span.photo_credit {  float: right;   font-size: 12px;   color: #222222; font-family: 'InterstateRegular';font-weight: normal;line-height: normal;}	

/*Added css 05-05*/
.megalinks .ticketcontainer {
    line-height:normal;
    margin-right:0;
}
.megalinks ul li .ticketcontainer a {
    color: #232323;
    display: inline-block;
    font-family: "Interstate-LightCondensed";
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 1px;
    text-transform: none;
    margin-right: 38px;
}
.ticket_sub_menu .megalinks ul li a {
    text-transform:none;
    line-height:normal;
}
.ticket_sub_menu .megalinks ul li a:hover {
    background:none;
    color: #9d2235;
}
.ticket_sub_menu .megalinks2.last {
    padding-top:10px;
}
.ticket_sub_menu .megalinks2.last .megalinks ul li {
    margin-bottom:16px;
}
.ticket_sub_menu .megalinks2.last .megalinks ul li a {
    padding:0 2px;
}
.ticket_sub_menu .megalinks {
    min-width: 336px;
}
.bydate {  padding-left: 20px;
  font-size: 12px;
  font-family: 'InterstateRegular';
  font-weight: normal;
  line-height: normal;}	
	
/*cust style */

.biotabcontent
{
  min-height:600px !important;
}

#playbutton-ustudio	
{
  position: absolute;
  width: 100px;
  margin: 12% 35%;
  cursor:pointer;
}	
#playbutton-ustudio:hover	
{
  background: rgb(167, 38, 60);	
  border-radius: 10px;
}	
a {
    color: #9d2235;
}
a:hover, a:focus {
    color: #9d2235;
}
.innergridspinfo span.related {
	color:#969aa6;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:normal;
	right:16px;
	bottom:20px;
	float:right;
}
.innergridspinfo {position:relative;}
.mainnav .mega-menu {
	z-index: 9999;
}

.searchheader {
  color: #282a2f;
  font-family: "InterstateBold";
  font-size: 20px;
  font-weight: normal;
  line-height: 27px;
  margin-bottom: 10px;
  
}

@media (max-width:700px){


.popup-content {
  top: 10%;
  left: 0% !important;
   width: 100% !important;
}
#ad-slot
{
height:50px !important;
-margin-left: 4% !important;  
}
#google_ads_iframe_/31058925/ArkansasRazorbacks.com_0
{
margin-left: 4% !important;
}
.social_networks li {
width: 37px !important;
}
#upsad{width:100% !important;}
}


@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) {
  
  #ad-slot{
		display:none;
		-width:768px !important;
		
	}
  #div-gpt-ad-1432300709002-1{
		display:none;
		
	}

iframe
{
 /*height:400px !important;*/
}
::-webkit-media-controls
{
display:none !important;
}
.social_networks li {
width: 37px !important;
}
}
/*
#sidebar {
  overflow: hidden !important;
}
.col-md-3 {
  overflow: hidden !important;
}
.asidead
{
  overflow: hidden !important;
}
.sidead
{
  overflow: hidden !important;
}

.row {

  overflow: hidden !important;
}
.container {

  overflow: hidden !important;
}
*/


/* pop up styles start */

#popup  
{  
    padding:20px;  
    width:300px;  
    color:#000000;  
    position:relative;  
    float:left;  
    margin-left:0px;  
    overflow:hidden;  
}  
  
#popup .transparency  
{  
    opacity:0.5;  
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    background-color:#000000;  
    width:340px;  
    height:2500px;  
    position:fixed;  
    top:0px;  
    left:0px;  
    z-index:-1;  
}  
  
.content  
{  
    position:relative;  
}  
#btnsubmit
{
  background: white;
  border: 0;
  padding: 5px;
  border-radius: 5px;
}
.popup-content
{
  top: 10%;
  left: 25%;
  width: 50%;
  z-index: 1000000;
  position: fixed;
  background: #000000;
  display:none;
  }

/* pop up styles end */

#wpadminbar
{
-display:none;
}

/* social hover starts here */

.social_networks {  margin: 0px 0 20px 0;}
.social_networks ul {
	margin: 0;
}
.social_networks li {
	list-style-type: none;
	float: left;
	width: 255px;
	-width: 37px !important;
	box-sizing: border-box;
	border-radius: 4px;
	overflow: hidden;
	margin-left:15px;
}
.social_networks li:first-child {margin-left:0;}
.social_networks li a {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	transition: all 0.3s ease 0s;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
}
.social_networks li.facebook a {
	background: #2C4377;
}
.social_networks li.twitter a {
	background: #0093CE;
}
.social_networks li.googleplus a {
	background: #c8422d;
}
.social_networks li span{
	margin-left:15px;
	float:left;
}
.social_networks li a i{
	
width:38px;
height:40px;
float:left;
transition: all 0.3s ease 0s;
display:inline-block;
}
.social_networks li.facebook a i{
background:#3a579a url(images/facebook1.png) -38px 0 no-repeat;	
}
.social_networks li.facebook a:hover i{
background:url(images/facebook1.png) 0 0 no-repeat;
}
.social_networks li.twitter a i{
background:#00abf0 url(images/twitter1.png) -38px 0 no-repeat;	
}
.social_networks li.twitter a:hover i{
background:url(images/twitter1.png) 0 0 no-repeat;
}

.social_networks li.googleplus a i{
background:#df4a32 url(images/google_plus.png) -38px 0 no-repeat;	
}
.social_networks li.googleplus a:hover i{
background:url(images/google_plus.png) 0 0 no-repeat;
}
/* social hover ends here */

/* css 22-06 */
.genriccontent > ul {
	list-style:none;
	margin:0;
	padding:0;
	padding-bottom:20px;
}
.genriccontent > ul > li {
	color: #333733;
    font-family: "InterstateLight";
    font-size: 17px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 0;
	padding-bottom:0;
	padding-left:18px;
	background:url(images/bbulletin.png) 0 9px no-repeat;
}
.genriccontent p strong {
	font-weight:normal;
	font-family: "InterstateBold";
}
.videoleadbox > p strong {
    color: #222222;
    font-family: "InterstateBold";
    font-weight: normal;
}
strong {
	font-family: "InterstateBold";
}


/*News archive page*/
.newsarchivepag_wrapper {
	padding-left:25px;
	padding-right:25px;
	padding-top:15px;
}
.newarchive_list_wrapper {
	padding:0 25px;
}
.newarchive_list {
	min-height:750px;
	padding-top:10px;
	padding-bottom:20px;
}
.newarchive_list ul {
	list-style:none;
	margin:0;
	padding:0;
}
.newarchive_list ul li {
	color:#2a2626;
	font-size:14px;
	font-family: 'InterstateLight';
	font-weight:normal;
	line-height:normal;
	padding-bottom:8px;
}
.n_date {
	float:left;
	padding-right:50px;
	min-width:180px;
}
.n_sport {
	float:left;
	padding-right:50px;
	min-width:228px;
}
.n_newsarch {
	float:left;
	padding-left:12px;
	background:url(images/bullet.png) no-repeat left 5px;
}
.n_newsarch a {
	color:#2a2626;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.n_newsarch a:hover {
	color:#9d2235;
}
/*.newsarchivepag_wrapper .sortbybox .sbHolder {
    background-color: #ffffff;
}*/
.newsarchivepag_wrapper .sortbywrapper {
	padding-bottom:11px;
}
.newsarchivepag_wrapper .sortbywrapper > h6 {
    color: #373a36;
    float: left;
    font-family: "Interstate-LightCondensed";
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    padding-right: 44px;
}
#n_perpagenos .sbHolder {
    background-color: #ffffff;
    border: medium none;
    border-radius: 4px;
    font-family: "Interstate-LightCondensed";
    font-size: 16px;
    font-weight: normal;
    height: 18px;
    position: relative;
    width: 50px;
	border:1px solid #a6a6a6;
	float:left;
}
#n_perpagenos .sbToggle {
    background: url(images/pageiarrow.png) no-repeat left center !important;
    display: block;
    height: 16px;
    outline: medium none;
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
	border-radius:6px;
}
#n_perpagenos .sbSelector {
    display: block;
    height: 16px;
    left: 0;
    line-height: 16px;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 36px;
	text-indent:8px;
}
#n_perpagenos .sbOptions {
    background-color: #f5f5f5;
    border: medium none;
    border-radius: 6px;
    left: 0;
    list-style: outside none none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 18px !important;
    width: 100%;
    z-index: 1;
	border:1px solid #a6a6a6;
}
#n_perpagenos .sbOptions a {
	font-family: 'Interstate-LightCondensed';
    border-bottom: none;
    display: block;
    outline: medium none;
    padding: 2px 0 2px 0;
}
.newpag_wrapper {
	float:right;
	padding-top: 5px;
	padding-right:32px;
}
.n_perpage {
	float:left;
	padding-right:20px;
}
.n_npbtns {
	float:left;
}
.n_oflist {
	float:left;
}
.n_gotopage {
	float:left;
	padding-left:14px;
}
#n_perpagenos {
	width:auto;
	float:left;
}
#n_perpagenos .sbSelector:link, #n_perpagenos .sbSelector:visited, #n_perpagenos .sbSelector:hover {
    color: #000000;
}
#n_perpagenos .sbOptions li:first-child a {
    font-size:inherit;
    height: auto;
}
#n_perpagenos .sbOptions li:first-child {
    height: auto;
}
.n_perpage h6 {
	color:#000000;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:18px;
	float:left;
	padding-right:0;
	clear:none;
	padding-left:5px;
}
.n_npbtns a {
	display:inline-block;
	height:18px;
	border:1px solid #d9d9d9;
	border-radius:5px;
	color:#000000;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:16px;
	text-decoration:none;
	transition: all 0.1s ease-in;
	padding:0 8px;
	margin-right:2px;
}
.n_npbtns a:hover {
	background:#F5F5F5;
}
.n_oflist p {
	color:#000000;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:20px;
	padding-left:4px;
	margin-bottom:0;
}
.n_gotopage h6 {
	color:#000000;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:20px;
	padding-left:4px;
	float:left;
	padding-right:5px;
}
.n_gotopage .ngoto {
	width:32px;
	height:18px;
	background:#ffffff;
	border:1px solid #cccccc;
	border-radius:none;
	box-shadow:none;
	-webkit-appearance:none;
	padding:0;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:20px;
	padding:0 5px;
}
.n_gotopage .ngoto_btn {
	width:30px;
	height:20px;
	background:#ffffff;
	border:1px solid #cccccc;
	border-radius:5px;
	box-shadow:none;
	-webkit-appearance:none;
	padding:0;
	color:#000000;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:16px;
	transition: all 0.1s ease-in;
}
.n_gotopage .ngoto_btn:hover {
	background:#f5f5f5;
}

.n_npbtns  ol.wp-paginate li a	 {
	display:inline-block;
	height:18px;
	border:1px solid #d9d9d9;
	border-radius:5px;
	color:#000000;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:16px;
	text-decoration:none;
	transition: all 0.1s ease-in;
	padding:0 8px;
	margin-right:2px;
	background:#fff !important;
	margin-bottom:4px !important;
}
.n_npbtns  ol.wp-paginate li a	:hover {
	background:#F5F5F5;
}
.red {border: 1px solid red;}	
	
.wp-paginate .current {
  display:inline-block;
	height:18px;
	border-radius:5px;
	color:#000000;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:16px;
	text-decoration:none;
	transition: all 0.1s ease-in;
	padding:0 8px !important;
	margin-right:2px;
  background: #9d2235 !important;
  border: 1px solid #9d2235 !important;
  margin-right: 4px;
  padding: 4px 8px;
}	



/*Photogallery page*/
.photomain {
    position: relative;
}
.photomain img {
	display:block;
	width:100%;
}
.photmaincaption {
	width:1200px;
	position:absolute;
	left:50%;
	margin-left:-600px;
	top:27%;
	z-index:40;
	text-align:center;
}
.photmaincaption h1 {
	color:#ffffff;
	font-size:100px;
	font-family: 'InterstateBoldCondensed';
	font-weight:normal;
	line-height:normal;
	text-transform:uppercase;
}
.photmaincaption h4 {
	color:#ffffff;
	font-size:30px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	font-style:italic;
	line-height:30px;
	margin-top:-2px;
}
.photogallery_content {
	width:98%;
	max-width:1490px;
}
.photogallery_content img {
	display:block;
	max-width:100%;
}
.photogallery_content .caption {
	color:#000000;
	font-size:20px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:normal;
	position:absolute;
	left:15px;
	top:102%;
	width:100%;
	padding-right:30px;
}
.photogallery_content_wrapper {
	background:#fafafa;
	padding-top:100px;
}
.pitem {
	margin-bottom:72px;
}
.photogallery_content .row {
	padding-bottom:50px;
}
.fancybox-overlayTop {
	background:#080808 !important;
	z-index:99999 !important;
}
#fancybox-buttons {
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999999 !important;
}
.fancybox-overlayTop .fancybox-skin {
    background:none;
    border-radius: 0;
    color: #444444;
    position: relative;
    text-shadow: none;
	box-shadow:none;
}
#fancybox-buttons ul {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    display: block;
    height: 30px;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
    width: 94% !important;
}
#fancybox-buttons a {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    opacity: 1 !important;
    outline: medium none;
    text-indent: 0 !important;
    width: auto !important;
	color:#ffffff !important;
	font-family: Verdana, Geneva, sans-serif !important;
	text-decoration: !important;
	border:none !important;
}
#fancybox-buttons a:hover {
	color:#cccccc !important;
	text-decoration: none !important;
}
#fancybox-buttons a.btnNext {
    background-position: -33px 0;
    border-right: none !important;
	margin-left:38px;
}
#fancybox-buttons.top {
    top: 18px !important;
}
#fancybox-buttons li:last-child {
	float:right !important;
}
.fancysocial_share {
    bottom: 40px;
    display: inline-block;
    position: fixed;
    right: 3%;
    text-align: center;
    z-index: 999999;
}
.fancysocial_share h6 {
	color:#ffffff;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	line-height:normal;
	text-transform:uppercase;
	padding-bottom:16px;
}
.fancysocial_share ul {
	list-style:none;
	margin:0;
	padding:0;
}
.fancysocial_share ul li {
	display:inline-block;
}
.fancysocial_share ul li a {
	background: url(images/spshare.png) no-repeat left top;
    display: inline-block;
    font-size: 13px;
    height: 20px;
    letter-spacing: 0;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
    text-indent: -99999em;
    text-transform: none;
    transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23) 0s;
    width: 20px;
	background-size:150px auto;
}
.fancysocial_share ul li.twtpretty a {
	background-size:150px auto;
	background-position:0 0;
	top: 2px;
}
.fancysocial_share ul li.fcbpretty a {
	background-position: -128px 0;
	top: 2px;
}
.fancysocial_share ul li.pngpretty a {
	background-position: 0 -20px;
    background-size: 144px auto;
}
.fancysocial_share ul li.mailpretty a {
	background-position: -47px -22px;
}
.fancysocial_share ul li a:hover {
	opacity:0.8;
}	
.photomain_olay {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	z-index:20;
}

/*css 30-07*/
.full_width_photogallery {
	padding:0;
	padding-bottom:60px;
}
.full_width_photogallery img {
	display:block;
	width:100%;
}
.full_width_photogallery .caption {
    color: #000000;
    font-family: "Interstate-LightCondensed";
    font-size: 20px;
    font-weight: normal;
    left: 15px;
    line-height: normal;
    padding-right: 30px;
    position: static;
	padding: 15px;
}
.pic3col .pitem span {
	height:308px;
}
.pic2col .pitem span {
	height:474px;
}
.pic4col .pitem span {
	height:220px;
}
.pic6col .pitem span {
	height:160px;
}
.picsbackgallery img {
	display:none;
}
.picsbackgallery .pitem span {
	display:block;
	background-size:cover;
	background-position: center top;
}
.creditphoto {
	font-style:italic;
	text-align:center;
}
.photolandingmain {
	position:relative;
	overflow:hidden;
}
.photolandingmain > img {
	display:block;
	width:100%;
}
.plantitle {
	width:1200px;
	position:absolute;
	left:50%;
	margin-left:-600px;
	top:34%;
	z-index:10;
	text-align:center;
}
.plantitle h1 {
	color:#ffffff;
	font-size:100px;
	font-family: 'Interstate-BoldCompressed';
	font-weight:normal;
	line-height:100px;
	text-transform:uppercase;
}
.plantitle h1 span {
	display:inline-block;
	padding:0 42px;
	position:relative;
}
.lanleft {
	position:absolute;
	right:100%;
	top:50%;
	margin-top:-6px;
}
.lanright {
	position:absolute;
	left:100%;
	top:50%;
	margin-top:-6px;
}
.whitebg {
	background:#fafafa;
}
.photoparentcontet {
	background:#fafafa;
	padding-top:30px;
}
.photoparentcontet .sortbywrapper {
	border-bottom:none;
}
.photogallery_listparent {
	
}
.photogallery_listparent ul {
	list-style:none;
	margin:0;
	padding:0;
}
.photogallery_listparent ul li {
	width:32.65%;
	float:left;
	margin-right:1.025%;
}
.photogallery_listparent ul li:nth-child(3n) {
	margin-right:0;
}
.photogallery_listparent .gridpostinfo h6 {
	color:#9d2235;
	font-size:12px;
	font-family: "InterstateBold";
	font-weight:normal;
	line-height:normal;
	padding-bottom:12px;
}
.photogallery_listparent .gridpostinfo h6 a{
	color:#9d2235;
	font-size:12px;
	font-family: "InterstateBold";
	font-weight:normal;
	line-height:normal;
	padding-bottom:12px;
	text-transform:uppercase;
}
.photogallery_listparent .gridpostinfo h3 {
	color:#282a2f;
	font-size:29px;
	font-family: "InterstateBold";
	font-weight:normal;
	line-height:36px;
	height:166px;
	padding-bottom:10px;
}
.photogallery_listparent .gridpostinfo h3 a {
	color:#282a2f;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.photogallery_listparent .gridpostinfo h3 a:hover {
	color:#9d2235;
}
.photogallery_listparent .gridpostinfo {
	padding-top:10px;
}
.photoparentcontet .newsarchivepag_wrapper {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
}
.photolandingmain {
	background-size:cover;
	background-position:center center;
}


iframe:-webkit-full-screen {
  width: 100%;
  height: 100%;
z-index:100000;
}


/*6-8 css*/
.prby {
	float:left;
	position:relative;
	top:-5px;
	padding-left:40px;
}
.dfpbanner {
	margin-bottom:10px;
}
.dfpbanner img {
	display:block;
	width:100%;
}
.footerbanner {
	padding:0;
	padding-bottom:34px;
	background:#ffffff;
}
.footerbanner img {
	display:block;
	width:100%;
}
.baseballrosterpage {
    min-height: 1000px;
    padding-bottom: 50px;
    padding-top: 16px;
}
.baseballrosterpage .dfpbanner {
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom:36px;
}
.rostertable {
	clear:both;
	padding-top:20px;
}
.tab_content1 h2 {
	float:left;
}
.baseballrosterpage .prby > img {
    max-width: 150px;
}

.schedule_filter .season_select {position:relative; float:right;  }
.schedule_filter .toplinks > ul  {float:right;     padding-right: 20px;
    padding-top: 7px; }
.schedule_filter .toplinks {padding-bottom:0; }

/*CSS 03-12*/
.header_wrapper_razor {
	background:#373a36;
}
.bigcontainer {
	width:1650px;
}
.glorylist {
	padding-top:50px;
}
.glorylist ul {
	list-style:none;
	margin:0;
	padding:0;
}
.glorylist ul li {
	width:46%;
	float:left;
	margin-right:8%;
}
.glorylist ul li:nth-child(2n) {
	margin-right:0;
}
.glorypic {
	position:relative;
	margin-bottom:12px;
}
.glorypic img {
	display:block;
	width:100%;
}
.glorypic h5 {
	color:#d9dae4;
	font-size:22px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:normal;
	position:absolute;
	right:16px;
	top:14px;
	letter-spacing:3px;
	text-transform:uppercase;
}
.glorylist ul li h3 {
	color:#282a2f;
	font-size:44px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	line-height:normal;
	padding-left:10px;
	height:150px;
	text-decoration:none;
	transition: all 0.1s ease-in;
}
.glorylist ul li a {
	text-decoration:none !important;
}
.glorylist ul li a:hover h3 {
	color:#9D2235;
}
.header_wrapper_razor .logo {
	padding-left:60px;
}
.pdlay {
	background:rgba(0,0,0,0.6);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.plantitle h5 {
	color:#ffffff;
	font-size:30px;
	font-family: 'Interstate-LightCondensed';
	font-weight:normal;
	font-style:italic;
	line-height:normal;
	padding-top:14px;
}
.fullglorypic {
	padding:0;
}
.fullglorypic img {
	display:block;
	width:100%;
}
.glorydetailcontent {
	max-width:930px;
	margin:0 auto;
	padding-top:18px;
	padding-bottom:40px;
}
.writtenby {
	padding-bottom:60px;
}
.writtenby h5 {
	color:#9d2235;
	font-size:18px;
	font-family: 'InterstateRegularCondensed';
	font-weight:normal;
	font-style:italic;
	line-height:normal;
}
.glorydetailcontent p {
	color:#000000;
	font-size:21px;
	font-family: Cambria, 'Cambria-back', Georgia,serif;
	font-weight:normal;
	line-height:40px;
	margin-bottom:0;
	padding-bottom:38px;
}
.glorydetailcontent img {
	max-width:100%;
}
.gloryarticlepic {
	margin-bottom:52px;
}
.gloryarticlepic img {
	display:block;
	width:100%;
}
.ustdvid {
	margin:0 0;
	margin-top:18px;
	margin-bottom:38px;
}
.ustdvid img {
	display:block;
	width:100%;
}
.ustdvid {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.ustdvid iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.header_wrapper_razor .dsearch {
	border-left: none !important;
    border-right: none !important;
}
.header_wrapper_razor .dsearch .att {
	border-right: none !important;
}

/*CSS 14-12*/
.plantitle {
    top: 33%;
}
.planlink {
	text-align:center;
	padding-top:0;
	position:absolute;
	width:100%;
	left:0;
	bottom:40px;
}
.planlink a {
	display:inline-block;
	height:48px;
	min-width:120px;
	padding:0 5px;
	background:#9d2235;
	border:none;
	border-radius:3px;
	box-shadow:none;
	-webkit-appearance:none;
	outline:none !important;
	color:#ffffff;
	font-size:28px;
	font-family: 'Interstate-LightCompressed';
	font-weight:normal;
	line-height:48px;
	text-transform:uppercase;
	text-decoration:none;
	transition: all 0.1s ease-in;
	cursor:pointer;
}
.planlink a:hover {
	color:#ffffff;
	background:#9d2235 !important;
}

.newbullets {
    list-style: none;
    margin: 0;
    padding: 0;
}
.newbullets li {
    padding-left: 15px;
    position: relative;
    background: url('http://www.arkansasrazorbacks.com/wp-content/uploads/2016/02/blt.png') no-repeat left 7px;
    color: #222222;
    font-size: 16px;
    font-family: 'InterstateLight';
    line-height: normal;
    padding-bottom: 4px;
}




.videoleadboxmp01 {
    border-left: 2px solid #e6e6e6;
    padding: 32px;
    padding-top: 52px;
}

.leftsidebarmp01 {
    padding: 0;
    position: relative;
}

.videoleadboxmp01 h6 span {
    color: #222222;
    font-family: 'InterstateRegular';
    font-weight: normal;
}

.videoleadboxmp01 h6 {
    color: #9d2235;
    font-size: 12px;
    font-family: 'InterstateBold';
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 20px;
}

.videoleadboxmp01 h1 {
    color: #222222;
    font-size: 44px;
    font-family: 'InterstateBold';
    font-weight: normal;
    line-height: 44px;
    padding-bottom: 26px;
    padding-left: 20px;
}



/*MENU WALKER */

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;     
}

#cssmenu {
  height: 37px;
  display: block;
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-radius: 5px;
  width: auto;
  border-color: #080808;
}
#cssmenu,
#cssmenu > ul > li > ul > li a:hover {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}

#cssmenu > ul {
  list-style: inside none;
  padding: 0;
  margin: 0;
}
#cssmenu > ul > li {
  list-style: inside none;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  position: relative;
}
#cssmenu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #080808;
  color: #ffffff;  
}
#cssmenu > ul > li > a:hover {
  background: #080808;
  color: #ffffff;
}




#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 5px;
}
#cssmenu > ul > li > a:after {
  content: '';
  position: absolute;
  border-right: 1px solid;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99;
  border-color: #3c3c3c;  
}
#cssmenu ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}
#cssmenu > ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 19px;
}
#cssmenu ul li.has-sub:hover > a {
  background: #3f3f3f;
  border-color: #3f3f3f;
  padding-bottom: 13px;
  padding-top: 13px;
  top: -1px;
  z-index: 999;
}
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
  display: block;
}
#cssmenu ul li.has-sub > a:hover {
  background: #3f3f3f;
  border-color: #3f3f3f;
}
#cssmenu ul li > ul,
#cssmenu ul li > div {
  display: none;
  width: auto;
  position: absolute;
  top: 38px;
  padding: 10px 0;
  background: #3f3f3f;
  border-radius: 0 0 5px 5px;
  z-index: 999;
}
#cssmenu ul li > ul {
  width: 200px;
}
#cssmenu ul li > ul li {
  display: block;
  list-style: inside none;
  padding: 0;
  margin: 0;
  position: relative;
}
#cssmenu ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  margin: 0;
  padding: 8px 20px;
  font: 10pt Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
#cssmenu ul ul a:hover {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #ffffff;
}











header {
    position: fixed;
    top: 0;
    left: 0;
    height: 180px;
    width: 100%;
    z-index: 998;
    background: url('') repeat-x bottom left;
}


header div {
    margin: 0px 0px 0px 239px;
}
header div {
    position: relative;
    z-index: 999;
    margin: 0 0 0 235px;
    background-color: #231f20;
}

#logo {
    margin: 0px 0px 0px -239px;
    width: 390px;
}

header div a {
    display: block;
    width: 390px;
    height: 143px;
    margin: 0 0 0 -148px;
    background: url('http://exinary.us/greetingletter/wp-content/themes/greeting-letter/images/logo.png') no-repeat transparent;
    text-indent: -5000px;
    background-size: 65%;
}








.greeting-back img{
    opacity: 0.7 !important;
    
}

.greeting-back img:hover{
    opacity: 1 !important;
    -background: red !important;
    animation: shake 0.32s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}




.face:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}








/* HEXAGON STARTS HERE */
.hex {
	width:150px;
	height:86px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	-webkit-background-size: auto 173px;							
	-moz-background-size: auto 173px;							
	-ms-background-size: auto 173px;							
	-o-background-size: auto 173px;							
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}
		
	.hex.hex-gap {
		margin-left: 86px;
	}
	
	.hex a {
		display:block;
		width: 100%;
		height:100%;
		text-indent:-9999em;
		position:absolute;
		top:0;
		left:0;
	}

	.hex .corner-1,
	.hex .corner-2 {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: inherit;								
		z-index:-2;						
		overflow:hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;			
		backface-visibility: hidden;			
	}
	
	.hex .corner-1 {
		z-index:-1;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	
	.hex .corner-2 {
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}
	
	.hex .corner-1:before,
	.hex .corner-2:before {
		width: 173px;
		height:	173px;
	  content: '';
	  position: absolute;
	  background: inherit;
	  top:0;
	  left: 0;
	  z-index: 1;
	  background: inherit;
	  background-repeat:no-repeat;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;	
		backface-visibility: hidden;				  
	}			
	

	.hex .corner-1:before {
		-webkit-transform: rotate(-60deg) translate(-87px, 0px);
		-moz-transform: rotate(-60deg) translate(-87px, 0px);
		-ms-transform: rotate(-60deg) translate(-87px, 0px);
		-o-transform: rotate(-60deg) translate(-87px, 0px);
		transform: rotate(-60deg) translate(-87px, 0px);	
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}			
	
	.hex .corner-2:before {
		-webkit-transform: rotate(60deg) translate(-48px, -11px);
		-moz-transform: rotate(60deg) translate(-48px, -11px);
		-ms-transform: rotate(60deg) translate(-48px, -11px);
		-o-transform: rotate(60deg) translate(-48px, -11px);
		transform: rotate(60deg) translate(-48px, -11px);	
		bottom:0;
	}		


	
	/* Custom styles*/
	.hex .inner {		
		color:#eee;
	}
	
	.hex h4 {
		font-family: 'Josefin Sans', sans-serif;		
		margin:0;			
	}
	
	.hex hr {
		border:0;
		border-top:1px solid #eee;
		width:60%;
		margin:15px auto;
	}
	
	.hex p {
		font-size:16px;
		font-family: 'Kotta One', serif;
		width:80%;
		margin:0 auto;
	}

	.hex.hex-1 {
		background: #74cddb;
	}
	
	.hex.hex-2 {
		background: #f5c53c;
	}
	
	.hex.hex-3 {
		background: #80b971;
	}




article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#lab {
	width: 1000px;
	overflow: hidden;
	padding-bottom: 70px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 2.5em;
	background: rgb(236, 236, 236);

	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}

h1 {
	font-family: bebas_neueregular ,sans-serif;
	font-size: 1.75em;
	padding: 0.2em 0 0.2em 0.2em;
	color: white;
	text-shadow: 0 0.06em 0 #424242;
	position: relative;
}

#lab h1 {
	background: #B0DAD4;
}

.beaker {
	-webkit-filter: drop-shadow(#424242 0px 1px 0px);
	border-bottom: 2em solid #FFF;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-radius: .5em;
	height: 0;
	width: 1em;
	position: absolute;
	right: 0.7em;
	bottom: 22%;
	font-size: 0.6em;
}

.beaker::before {
	border-left: .25em solid #FFF;
	border-radius: .25em;
	border-right: .25em solid #FFF;
	content: '';
	height: .25em;
	left: -.25em;
	position: absolute;
	top: -1em;
	width: 1em;
}

.beaker::after {
	border-left: .25em solid #FFF;
	border-right: .25em solid #FFF;
	content: '';
	height: 1em;
	left: 0;
	position: absolute;
	top: -1em;
	width: .5em;
}

.sectionheader {
	position: relative;
}

.lab_item {
	width: 200px;
	height: 230px;
	position: relative;
	display: inline-block;
}

.hexagon2 {
	position: absolute;
	width: 200px;
	height: 400px;
	top: -85px;
}

.hexagon {
	overflow: hidden;
	visibility: hidden;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.hexagon-in2:hover {
	-webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
	box-shadow: inset 0 0 0 0px #B0DAD4;
}

#lab article {
	padding-top: 1em;
	width: 820px;
	margin: 0 auto;
}

.lab_item:nth-child(7n-2) {
	margin-left: 101px;
}

.lab_item:nth-child(n+5) {
	margin-top: -55px;
}

@media (max-width: 1015px) {
	#lab {
	width: 100%;
}

}

@media (max-width: 820px) {
	.lab_item:nth-child(5n-1) {
	margin-left: 102px;
}

.lab_item:nth-child(n+4) {
	margin-top: -62px;
}

.lab_item:nth-child(7n-2) {
	margin-left: 0px;
}

.lab_item:nth-child(n+5) {
	margin-top: -56px;
}

#lab article {
	width: 610px;
}

}

@media (max-width: 640px) {
	#lab article {
	width: 405px;
}

.lab_item:nth-child(5n-1) {
	margin-left: 0px;
}

.lab_item:nth-child(3n) {
	margin-left: 102px;
}

.lab_item:nth-child(n+3) {
	margin-top: -56px;
}

}

@media (max-width: 450px) {
	#lab article {
	width: 300px;
}

.lab_item:nth-child(3n) {
	margin-left: 0px;
}

.lab_item:nth-child(2n) {
	margin-left: 102px;
}

.lab_item:nth-child(n+2) {
	margin-top: -56px;
}

}







#hexagon {
	width: 400px;
	height: 288px;
	background: white !important;
	float:left;
	position: absolute;
    top: 1440px;
    left: 2000px;
	-webkit-clip-path: polygon(86% 0, 100% 20%, 100% 100%, 14% 100%, 0 80%, 0 0);
clip-path: polygon(86% 0, 100% 20%, 100% 100%, 14% 100%, 0 80%, 0 0);
}
#hexagon img:hover{
	-opacity:0.5;
	cursor:pointer;

}






#left-arrow
{
float: right;margin-top: 500px;margin-left: 0px;position: absolute;
}




.rightside{

height:1500px;
position:fixed;
left:0px;
background: white;
-opacity: 0.5;
margin-top:-200px;
}
.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
    position: fixed;
    margin-top: 500px;
    right: -65px;
    color: white;
}



.next{
width:100px;
height:1500px;
position:fixed;
right:30px;
-background: #373a36;
opacity: 0.5;
margin-top:-100px;
}

.prev{
width: 100px;
height: 1500px;
position:fixed;
left:0px;
-background: #373a36;
opacity: 0.5;
margin-top:-100px;
}
.top{
height:100px;
width:100%;
position:fixed;
top:0px;
-background: #373a36;
opacity: 0.5;
}
.bottom{
height:100px;
width:100%;
position:fixed;
bottom:0px;
-background: #373a36;
opacity: 0.5;
}

#fullscreen-popup{
position:fixed;
width:100%;
height:110%;
background:red;
background:rgba(29, 27, 27, 0.9);
-opacity:0.5;
margin-top: -175px;
    background-size: 80%;
    background-position: 50% 4%;
    background-repeat: no-repeat;
overflow:scroll;
    z-index: 100;
}
#close-popup
{
	background-image:url('images/fancybox_sprite.png');
	width: 45px;
    height: 35px;
    float: right;
    margin-top: 60px;
    margin-right: 60px;
	cursor:pointer;
}

#imagecontainer1
{
float:left;
width:750px;
margin:0 auto;
    text-align: center;
}


#imagecontainer2
{
float:left;
width:550px;
margin:0 auto;
    text-align: center;
}

#imagecontainer1:hover{
cursor:pointer;
}

#imagecontainer2:hover{
cursor:pointer;
}


@page { size : portrait }
table { page-break-inside : avoid }
@page {
  size: A4;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


.hexagon-new
{
float:left;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top:40px;
}

#imagecontainer-new
{
width:50%;
margin:0 auto;
    margin-top: 150px;
}

#close-active{
cursor:pointer;
}


#startscreen{background:#ffffff; padding:20px;; margin-bottom:20px; color:#fff;font-size: 19px;
line-height: 24px;
-background-image:url('http://exinary.us/greetingletter/wp-content/uploads/2016/08/Website-Color2-01.png');
background-image:url('images/startscreen-nav-bg-last.png');
background-repeat: repeat;
    background-size: 140%;

-webkit-animation-name: example; 
    -webkit-animation-duration: 5s; 
    -webkit-animation-iteration-count: 5;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:#707daa; }
    25%  {background-color:#ee4168; }
    50%  {background-color:#40b76d; }
    75%  {background-color:#ed9760; }
    100% {background-color:#707daa; }
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:#707daa; }
    25%  {background-color:#ee4168; }
    50%  {background-color:#40b76d; }
    75%  {background-color:#ed9760; }
    100% {background-color:#707daa; }
}





/*home/gallery page start of code */


/*start of first set - basically taken from inline css */

#logo-orange-img
{
margin-top: 18px;
margin-bottom:50px; 
width:136px;
height:73px;
opacity:1;
background:#eb9962;
}
#logo-orange8 {
    margin-left: 1px !important;
    margin-top: 30px !important;

}

/* start of second set of css */


#start-heres{
 cursor:pointer;
}

#start-heres.mouseDown:hover{
 cursor:auto; /* or whatever cursor */
}

body {
    width: 100% !important;
    max-width: 100%!important;
    -height: 2880px !important;
    -max-height: 2880px !important;
    -overflow:hidden;
/*
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
      user-drag: none;
      -webkit-touch-callout: none;

*/

/*  
background-image:url(http://greetingletter.co.uk/wp-content/uploads/2016/08/orange.jpg);
background-size:100%;
    background-position-y: -35px;
*/
    background-color: #e37b5e;
    background: -moz-linear-gradient(center top, #f3b060 0%,#e37b5e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3b060),color-stop(1, #e37b5e));
    background-attachment: fixed;

}
/*  
#startscreen{
        background-color: #e37b5e;
    -background-image:url('http://greetingletter.co.uk/wp-content/uploads/2016/08/Website-Color-03.png');
background-image:url('<?php echo get_stylesheet_directory_uri(); ?>/images/startscreen-nav-bg-last.png');
startscreen-nav-bg-last.png
    background: -moz-linear-gradient(center top, #f3b060 0%,#e37b5e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3b060),color-stop(1, #e37b5e));
    background-attachment: fixed;

}
*/
@font-face {
    font-family: lato-custom;
    src: url(sansation_light.woff);
}

.hexagon-new:hover {
    cursor:pointer;
}

    #topmenu li{
        float:right;
        margin-right:30px;
        color:white;
        font-size: 20px;
    }
.wp-tag-cloud li 
{
border-radius: 5px;
    color: white;
    border: 0px;
    padding: 5px 15px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    background:orange;
    font-size: 18px;
}
.wp-tag-cloud li a
{
    font-size: 18px !important;
    color: white;
}
.wp-tag-cloud{
    margin-left: 0px;
}

/*start of third set of css */

    


/* home/gallery page end of code */